<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="description" content="Archive of Command and Conquer: Red Alert 2 Yuri's Revenge mod - Bellum Æternum, including factions, units and maps.">
	<link rel="icon" type="image/svg" href="/src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/archive.html" />
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/archive.html" />
	<title>Archives | Bellum Æternum: A More Realistic Red Alert 2</title>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "Bellum Æternum",
				"item": "https://ra2be.com"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Archives",
				"item": "https://ra2be.com/archives.html"
			}
		]
	}
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-LPEL1Y72V6');
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M6M9N6VK');</script>
	<!-- End Google Tag Manager -->
	<script src="src/js/htmx.min.js"></script>
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6M9N6VK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header>
		<div class="navigation-buttons">
			<div class="navigation-button">
				<a href="https://ra2be.com">Home</a>
			</div>
			<div class="navigation-button">
				<a href="archives.html">Archives</a>
			</div>
			<div class="navigation-button">
				<a href="blog.html">Blog</a>
			</div>
			<div class="navigation-button">
				<a href="download.html">Download</a>
			</div>
		</div>
		<div class="responsive-navigation">
			<a href="https://ra2be.com"><img src="src/favicon.svg" alt="logo" width="36px" height="36px"></a>
			<div class="responsive-navigation-buttons">
				<a href="archives.html">Archives</a>
				<a href="blog.html">Blog</a>
				<a href="download.html">Download</a>
			</div>
		</div>
	</header>
	<!--Main-->
	<main>
		<div class="archives">
			<h1>Bellum Æternum Archives</h1>
			<!--------------------------------------->
			<!------------Factions Module------------>
			<!--------------------------------------->
			<div class="factions">
				<h2>Factions</h2>
				<p>The conflict between Allied and Soviet has never end, instead, it's just a begin.</p>
				<div class="factions-impression">
					<a href="soviet.html">
		            	<h3>Soviet</h3>
					</a>
					<a href="allied.html">
						<h3>Allied</h3>
					</a>
		    	</div>
			</div>
			</div>
			<!---------------------------------------->
			<!------------Mechanics Module------------>
			<!---------------------------------------->	
			<div class="mechanics">
				<h2>Mechanics</h2>
				<p>Information about new mechanics ingame.</p>
				<div class="mechanics-container">
					<a href="secret-units.html">★★★ Secret Units ★★★</a>
				</div>
			</div>		
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>Bellum<br>Æternum</p>
				</div>
				<div class="lang-selector">
					<div hx-get="lang-selector.html" hx-trigger="load"></div>
					<script src="../src/js/language-selector.js" defer></script>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>
</html>