* {
  box-sizing: border-box;
}

body {
	flex-direction:column;
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

.header {
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(180deg, #d6d2e6, #4a414a);
}

@media (max-width: 480px) {
	.header {
		flex-direction: column;
	}
  
  .dropdown:hover .dropdown-content {
		display: inline;
	}
}

/*Header Settings*/
/*Header Logo*/
.logo{
  float: left;
  width: 10%;
  margin: 1em 4em;
}

/*Navigation Bar*/
ul {
  display: inline;
  float: left;
  list-style-type: none;
  margin: auto;
  padding: 1em;
  width: 50%;
  overflow: hidden;
}

li {
	float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  margin: 0.5em;
  text-decoration: none;
  min-width: 10em;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px grey;
  background-image: linear-gradient(180deg, #f0f0f0, #d1d1d1);
}

li a:hover, .dropdown:hover .dropbtn {
	background-image: linear-gradient(180deg, #d1d1d1, #b2b2b2);
	color: white;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 0.6em;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #c555555
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*Download Button*/
.dl_btn {
	display: inline-block;
	border-radius: 15px;
	margin: auto;
	padding: 1em;
	box-shadow: 1px 1px 1px grey;
	background-image: linear-gradient(180deg, #ff5555, #bb2222);
}

.dl_btn a{
	text-decoration: none;
	text-align: center;
	margin: 0.5em;
	color: white;
}

.dl_btn:hover{
	box-shadow: 2px 2px 2px yellow;
	background-image: linear-gradient(180deg, #ff0000, #cc5555);
}




/*Mid Content*/
/*Briefs*/
.briefs {
	margin: 5em;
	display: flex;
	flex-direction: column;
	text-align: center;
}

h1 {
	font-family: Times New Roman;
	font-size: 24px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-variant: small-caps;
	margin: auto;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

/*Slider*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	max-width: 632px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 16px;
  font-style: italic;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*News*/

.news {
	display: flex;
	flex-direction: column;
	margin: 10em;
}

h3 {
	display: flex;
	margin: auto;
	padding: 1em;
	font-size: 36px;
}

div.gallery {
  border: 1px solid #ccc;
  margin: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
    margin: auto;
}

div.desc {
  padding: 1em;
  text-align: left;
}


/*Footers*/
.footer {
	margin: 5em;
	display: flex;
	flex-direction: row;
	align-self: center;
	background-image: linear-gradient(180deg, #f0f0f0, #d1d1d1);
}

nav {
	margin: auto;
	align-self: center;
}