<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="description" content="Bellum Aeternum is a Red Alert 2 Yuri's Revenge mod that improves graphics and reality. With ascended level of details, it maximize your joy of gameplay.">
	<link rel="icon" type="image/svg" href="src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/download.html" />
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/download.html" />
	<title>Download | Bellum Æternum: A More Realistic Red Alert 2</title>
	<script src="../../src/js/htmx.min.js"></script>
	<script type="application/ld+json">
	  {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "Bellum Æternum",
				"item": "https://ra2be.com"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Download",
				"item": "https://ra2be.com/download.html"
			}
		]
	  }
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-LPEL1Y72V6');
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M6M9N6VK');</script>
	<!-- End Google Tag Manager -->
	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main>
		<div class="download">
			<h1>Download Red Alert 2 Yuri's Revenge Mod</h1>
			<h2>Bellum Æternum</h2>
			<div class="download-section">
				<h2>Download Portals</h2>
				<div class="download-list">
					<div class="download-list-button-en">
						<a href="https://www.moddb.com/mods/bellum-aeternum/downloads/bellum-aeternum-beta-test-v1-2" title="Download Bellum Aeternum Beta Test V1 2 - ModDB" target="_blank"><img src="https://button.moddb.com/download/medium/291851.png" alt="Bellum Aeternum Beta Test V1 2" /></a>
					</div>
				</div>
				<div class="specific-progress">
					<h3>Installation Guide</h3>
					<p><b>Step 1.</b> Make sure you've got an unmodded client of Red Alert 2 Yuri's Revenge version 1.001. You can purchase the <a href="https://www.ea.com/games/command-and-conquer" target="_blank">C&C Ultimate Collection</a>, or purchase from <a href="https://store.steampowered.com/app/2229850/Command__Conquer_Red_Alert_2_and_Yuris_Revenge/" target="_blank" rel="nofollow">Steam</a>.</p>
					<p><b>Step 2.</b> Download Bellum Æternum and unzip the file.</p>
					<p><b>Step 3.</b> Copy and paste the unzipped files into the root directory of your Red Alert 2 Yuri's Revenge 1.001 folder.</p>
					<p><b>Step 4.</b> Double click the <b>BELauncher.exe</b> to start the game.</p>
				</div>
			</div>
			</div>
			<div class="progress" id="progress">
				<div class="dev-gauge">
					<label for="development">Currently Working On: Beta v1.3</label>
					<progress id="development" value="0" max="100">0%</progress>
				</div>
				<div class="specific-progress">
					<h3>Specific Progress</h3>
					<h4>■ Skirmish: </h4>
					<p>Skirmish has been finished, and will be rebalanced depending on campaignes and feedbacks. There will be more original skirmish maps in Beta v1.3.</p>
					<h4>■ Campaigns: </h4>
					<p>Half of campaigns has been finished.</p>
					<h4>■ CnCNet Client: </h4>
					<p>New version of client has been out, and there won't be many updates in the future.</p>
					<h4>■ Co-op Missions: </h4>
					<p>Right now the co-op missions are at a lower priority, no plan right now.</p>
				</div>
			</div>
			<div class="engine" id="engine">
				<h2>Engines Empowers the Mod</h2>
				<div class="engine-container">
					<div class="engine-container-left">
						<img src="src/ares.webp" alt="Ares" width="auto" height="auto">
					</div>
					<div class="engine-container-right">
						<h3>Ares</h3>
						<p>Ares is the next generation of binary-based Command & Conquer modding. Bellum Æternum has included the latest version of Ares.</p>
						<a href="https://ares.strategy-x.com/" target="_blank">Ares Official Website</a>
					</div>
				</div>
				<div class="engine-container">
					<div class="engine-container-left">
						<img src="src/phobos-logo.png" alt="Phobos" width="1123px" height="419px">
					</div>
					<div class="engine-container-right">
						<h3>Phobos</h3>
						<p>Phobos is a community engine extension project providing a set of new features and fixes for Yuri’s Revenge. Bellum Æternum will integrate Phobos into the package.</p>
						<a href="https://github.com/Phobos-developers/Phobos">Phobos Github Pages</a>
					</div>
				</div>
			</div>
			<div class="credits">
				<h2>Credits</h2>
				<p>Bellum Æternum can never be made without support of the Red Alert 2 mod community, thanks to all folks that provides assets and assistances.</p>
				<div class="credits-table">
					<table style="width:100%;">
						<tr>
							<th colspan="2">Buildings</th>
						</tr>
						<tr>
							<td>Soviet Battle Lab</td>
							<td>雷德克里莫</td>
						</tr>
						<tr>
							<td>Allied U.P.S.</td>
							<td>xuetianyi</td>
						</tr>
						<tr>
							<th colspan="2">Infantries</th>
						</tr>
						<tr>
							<td>Animals</td>
							<td>雷德克里莫</td>
						</tr>
						<tr>
							<th colspan="2">Animations</th>
						</tr>
						<tr>
							<td>Explosions with debris</td>
							<td>ppap11404</td>
						</tr>
						<tr>
							<td>Rain</td>
							<td>ppap11404</td>
						</tr>
						<tr>
							<td>Radiation explosion</td>
							<td>ppap11404</td>
						</tr>
						<tr>
							<td>Alpha images</td>
							<td>雷德克里莫</td>
						</tr>
						<tr><th colspan="2">Terrain Tiles</th></tr>
						<tr>
							<td>TX Expansion</td>
							<td>E1 Elite</td>
						</tr>
						<tr>
							<td>Temperate tiles</td>
							<td>OmegaBolt</td>
						</tr>
						<tr>
							<th colspan="2">User Interface</th>
						</tr>
						<tr>
							<td>High-res GUI</td>
							<td>雷德克里莫</td>
						</tr>
						<tr>
							<td>National flags</td>
							<td>雷德克里莫</td>
						</tr>
						<tr><th colspan="2">Special Thanks</th></tr>
						<tr>
							<td colspan="2">Rampastring/CNCNet client developers</td>
						</tr>
						<tr>
							<td colspan="2">Ares developers</td>
						</tr>
						<tr>
							<td colspan="2">Phobos developers</td>
						</tr>
						<tr>
							<td colspan="2">Handama</td>
						</tr>
						<tr>
							<td colspan="2">BAD Sheen</td>
						</tr>
						<tr>
							<td colspan="2">九千天华</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>Bellum<br>Æternum</p>
				</div>
				<div class="lang-selector">
					<p>LANGUAGE</p>
					<div class="lang-list">
						<a href="download.html">EN</a>
						<a href="/zh/download.html">中</a>
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>