<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="bestyle.css">
	<meta name="description" content="Bellum Aeternum is a Red Alert 2 Yuri's Revenge mod that improves graphics and reality. With ascended level of details, it maximize your joy of gameplay.">
	<link rel="icon" type="image/svg" href="src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/download.html" />
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/download.html" />
	<title>Download | Bellum Æternum: A More Realistic Red Alert 2</title>
	<script src="../../src/js/htmx.min.js"></script>
	<script type="application/ld+json">
	  {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "Bellum Æternum",
				"item": "https://ra2be.com"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Download",
				"item": "https://ra2be.com/download.html"
			}
		]
	  }
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M6M9N6VK');</script>
	<!-- End Google Tag Manager -->
	<script src="src/js/htmx.min.js"></script>
	<style>

	</style>
</head>
<body>
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main class="download">
		<h1>Download Red Alert 2 Yuri's Revenge Mod</h1>
		<h2>Bellum Æternum</h2>
		<section class="download-links">
			<div class="download-buttons">
				<a href="#" target="_blank">DOWNLOAD</a>
				<p id="os-warning">Bellum Æternum might not support your device.</p>
				<script>
					document.addEventListener("DOMContentLoaded", function() {
						const warningBox = document.getElementById('os-warning');
						const userAgent = window.navigator.userAgent.toLowerCase();
						if (!userAgent.includes('windows')) {
							warningBox.style.display = 'block';
						}
					});
				</script>
			</div>
			<div class="small-note">
				<p>By clicking on Download I agree to the <a href="terms-of-use.html" target="_blank">Term of Use</a> and acknowledge that I have read and understand the <a href="privacy-policy.html" target="_blank">Privacy Policy</a>.</p>
			</div>
		</section>
		<section class="download-guide">
			<h2>Getting Started</h2>
			<p>New to Bellum Æternum? Worry not, we've got you covered, commander.</p>
			<div class="guide-buttons">
				<a href="installation.html" class="guide-button">How to Install<span class="guide-button-border"></span></a>
				<a href="game-guide.html" class="guide-button">Beginner Guide<span class="guide-button-border"></span></a>
				<a href="archives.html" class="guide-button">Archives<span class="guide-button-border"></span></a>
			</div>
		</section>
		<section class="download-information">
			<h2>System Requirements</h2>
			<div class="system-requirements">
				<ul>
					<li>Operating System: Windows 7/8/10/11</li>
					<li>Processor: Intel Core i3 or equivalent</li>
					<li>RAM: 4 GB</li>
				</ul>
				<ul>
					<li>Graphics: DirectX 9 compatible GPU with 512 MB VRAM</li>
					<li>Storage: 2 GB available space</li>
					<li>Framework: Microsoft .NET 8.0</li>
				</ul>
			</div>
		</section>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>Bellum<br>Æternum</p>
				</div>
				<div class="lang-selector">
					<div hx-get="lang-selector.html" hx-trigger="load"></div>
					<script src="../src/js/language-selector.js" defer></script>
				</div>
			</div>
			<div hx-get="footer.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>