<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="org-style.css">
<link rel="preload" href="../src/font/furore.otf" as="font" />
<link rel="preload" href="../src/font/MonaspaceNeon-Regular.otf" as="font" />
<link rel="preload" href="src/background-pattern.webp" as="image">
<meta name="description" content="Bellum Aeternum is a Red Alert 2 Yuri's Revenge mod that improves graphics and reality. With ascended level of details, it maximize your joy of gameplay.">
<link rel="icon" type="image/svg" href="/src/favicon.svg">
<link rel="alternate" hreflang="x-default" href="https://ra2be.com" />
<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/" />
<link rel="prefetch" href="header.html" />
<meta name="google-site-verification" content="muAet5NwsQ7sxLzUH0sJReh1RIc5OY_y2FmFZ9OiTIg" />
<meta http-equiv="ontent-security-policy" content="script-src https:; object-src 'none'; base-uri 'none'; require-trusted-types-for 'script';"/>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LPEL1Y72V6');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6M9N6VK');</script>
<!-- End Google Tag Manager -->
<title>Bellum Æternum | A More Realistic Red Alert 2</title>
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "BreadcrumbList",
	  "itemListElement": [
		  {
			  "@type": "ListItem",
			  "position": 1,
			  "name": "Bellum Æternum",
			  "item": "https://ra2be.com"
		  }
	  ]
	}
  </script>
	<script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type": "SoftwareApplication",
		"name": "Bellum Æternum",
		"description": "The Ultimate Realism Mod of Red Alert 2 Yuri's Revenge.",
		"applicationCategory": "Game Mod",
		"softwareVersion": "Beta v1.2",
		"operatingSystem": "Red Alert 2 (Windows PC)",
		"creator": {
			"@type": "Person",
			"name": "Nuke Blastfield"
		},
		"downloadUrl": "https://ra2be.com/download.html",
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.5",
			"ratingCount": "3"
		}
		}
	</script>
  <script src="src/js/htmx.min.js" defer></script>
</head>

<body>
	<!-- End Google Tag Manager (noscript) -->
	<!-- HTMX header -->
	<header class="nav-wrapper" hx-get="header.html" hx-trigger="intersect once" hx-swap="outerHTML toggle:0.3s" hx-boost="false"></header>
	<!--Main-->
	<main>
		<div class="overview">
			<h1>Bellum Æternum</h1>
			<h2>A More Realistic Red Alert 2</h2>
			<p>Bellum Æternum is a <i><b>Red Alert 2: Yuri's Revenge</b></i> mod with much improvement of graphics and reality.</p>
			<p>With ascended level of details, you will experience the Red Alert 2 in an epic immersion.</p>
			<div class="cta-btn">
				<a id="download-button" href="https://www.moddb.com/mods/bellum-aeternum/downloads/bellum-aeternum-beta-test-v1-2" title="Download Bellum Aeternum Beta Test V1.2 - ModDB" target="_blank">Download</a>
			</div>
			<p>Bellum Æternum is also available in: <a id="lang-portal" href="https://ra2be.com/zh/">中文</a></p>
		</div>
		<div class="features reveal hidden">
			<h2>What Makes Bellum Æternum More Realistic?</h2>
			<div class="features-section">
				<!--Feature 1-->
				<div class="features-container">
					<div class="features-image">
						<img src="src/enhanced-effects.webp" alt="Red Alert 2 enhanced effects" width="320px" height="320px" fetchpriority="high">
					</div>
					<h3>Enhanced Visuals</h3>
					<p>Graphics have been remastered. Flames, smoke, particles, debris, and wreckage are brilliantly integrated into the battlefield.</p>
				</div>
				<!--Feature 2-->
				<div class="features-container">
					<div class="features-image">
						<img src="src/realistic-unit-design.webp" alt="Red Alert 2 enhanced effects" width="320px" height="320px" fetchpriority="high">
					</div>
					<h3>Realistic Design</h3>
					<p>All units are historically inspired, offering an authentic experience for military enthusiasts and war history fans.</p>
				</div>
				<!--Feature 3-->
				<div class="features-container">
					<div class="features-image">
						<img src="src/proper-dimension.webp" alt="Red Alert 2 enhanced effects" width="320px" height="320px" fetchpriority="high">
					</div>
					<h3>Optimal Dimension</h3>
					<p>The dimensions of all units have been strictly standardized, ensuring all elements now maintain realistic proportional scaling.</p>
				</div>
			</div>
		</div>
		<div class="main-factions reveal hidden">
			<div class="main-factions-selection">
				<button class="main-faction-button faction-active" onclick="changeFaction(event,'main-allied-description')"><img src="src/icons/allied-banner.avif" width="180px" height="180px"></button>
				<button class="main-faction-button" onclick="changeFaction(event,'main-soviet-description')"><img src="src/icons/soviet-banner.avif" width="180px" height="180px"></button>
			</div>
			<div class="main-factions-description">
				<div class="main-faction-description" id="main-allied-description">
					<h3>ALLIED</h3>
					<p>Allied Description</p>
				</div>
				<div class="main-faction-description" id="main-soviet-description">
					<h3>SOVIET</h3>
					<p>Formed by the Soviet Russia, the Soviet force a.k.a. Red Army is the military group that combined military forces from Eastern European states and South American socialist states. The Soviet scientists are specialists in the field of electromagnetic and nuclear physics, and they developed tesla technology and nuclear technology to apply the military operations.</p>
				</div>
			</div>
			<script>
				document.getElementById('main-allied-description').style.display = "block";
				function changeFaction(evt, faction) {
					var i, tabcontent, tablinks;
					tabcontent = document.getElementsByClassName("main-faction-description");
					for (i = 0; i < tabcontent.length; i++) {
						tabcontent[i].style.display = "none";
					}
					tablinks = document.getElementsByClassName("main-faction-button");
					for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" faction-active", "");
					}
					document.getElementById(faction).style.display = "block";
					evt.currentTarget.className += " faction-active";
				}
			</script>
		</div>
		<div class="quick-nav reveal hidden">
			<h2>Quick Navigation</h2>
			<div class="quick-nav-section">
				<div class="main-nav">
					<h3>Story</h3>
					<a href="lore.html">Lore</a>
				</div>
				<!--<div class="main-nav">
					<h3>游戏玩法</h3>
					<a href="game-modes.html">作战模式</a>
				</div>-->
				<div class="main-nav">
					<h3>Game Mechanism</h3>
					<a href="secret-units.html">Stolen Tech</a>
					<!--<a href="crates.html">Crates</a>-->
					<!--<a href="secret-lab.html">Secret Tech</a>-->
				</div>
				<div class="main-nav">
					<h3>Information</h3>
					<a href="allied.html">Allied Units</a>
					<a href="soviet.html">Soviet Units</a>
					<a href="skirmish-maps.html">Skirmish Maps</a>
					<!--<a href="campaign.html">Campaign Mission</a>-->
				</div>
			</div>
		</div>
		<div class="news reveal hidden">
			<div class="news-section">
				<h2>News</h2>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2025-06-15 03:00">JUN 15</time>
					</div>
					<div class="news-container-right">
						<a href="blog/beta-v1-2.html">The Beta v1.2 is Here!</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2025-05-02 20:00">MAY 02</time>
					</div>
					<div class="news-container-right">
						<a href="blog/beta-v1-1.html">The Beta v1.1 is Coming!</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2025-02-22 20:00">FEB 22</time>
					</div>
					<div class="news-container-right">
						<a href="blog/beta-v1.html">The Beta v1 is Coming!</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2024-11-11 20:00">NOV 11</time>
					</div>
					<div class="news-container-right">
						<a href="blog/alpha-2.html">The Second Alpha Test is Coming!</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2024-08-30 20:00">AUG 30</time>
					</div>
					<div class="news-container-right">
						<a href="blog/before-alpha.html">Devlog: Before the Alpha</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2024-07-23 20:00">JUL 23</time>
					</div>
					<div class="news-container-right">
						<a href="blog/mod-concept.html">Bellum Æternum: Concept</a>
					</div>
				</div>
			</div>
		</div>
		<div class="stay-connected reveal hidden">
			<h2>Stay Connected</h2>
			<div class="main-social-media">
				<a href="https://www.youtube.com/@BellunAeternum" title="View Bellum Æternum on YouTube" target="_blank"><img src="src/icons/youtube.svg" alt="Bellum Æternum Youtube Channel" width="48px" height="48px"></a>
				<a href="https://x.com/NukeBlastfield" title="Follow Bellum Æternum on X" target="_blank"><img src="src/icons/x.svg" alt="Bellum Æternum X Channel" width="48px" height="48px"></a>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>Bellum<br>Æternum</p>
				</div>
				<div class="lang-selector">
					<div hx-get="lang-selector.html" hx-trigger="load"></div>
					<script src="../src/js/language-selector.js" defer></script>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const revealElements = document.querySelectorAll('.reveal');

			const observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						entry.target.classList.add('visible');
						observer.unobserve(entry.target); // Stop observing once animated (optional, for one-time effect)
					}
				});
			}, {
				threshold: 0.1 // Trigger when 10% of the element is visible (adjust as needed)
			});

			revealElements.forEach(el => observer.observe(el));
		});
	</script>
</body>
</html>