<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="preload" href="../src/font/furore.otf" as="font" />
<link rel="preload" href="../src/font/MonaspaceNeon-Regular.otf" as="font" />
<link rel="preload" href="src/background-pattern.webp" as="image">
<meta name="description" content="Skirmish maps list of Bellum Æternum, a Red Alert 2 Yuri's Revenge mod, for players to understand the information, background story, and details of skirmish maps. ">
<link rel="icon" type="image/svg" href="/src/favicon.svg">
<link rel="alternate" hreflang="x-default" href="https://ra2be.com" />
<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/" />
<meta name="google-site-verification" content="muAet5NwsQ7sxLzUH0sJReh1RIc5OY_y2FmFZ9OiTIg" />
<meta http-equiv="ontent-security-policy" content="script-src https:; object-src 'none'; base-uri 'none'; require-trusted-types-for 'script';"/>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LPEL1Y72V6');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6M9N6VK');</script>
<!-- End Google Tag Manager -->
<title> Skirmish Maps | Bellum Æternum: A More Realistic Red Alert 2</title>
<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "BreadcrumbList",
	  "itemListElement": [
		  {
			  "@type": "ListItem",
			  "position": 1,
			  "name": "Bellum Æternum",
			  "item": "https://ra2be.com"
		  }
		{
			"@type": "ListItem",
			"position": 2,
			"name": "Skirmish Maps",
			"item": "https://ra2be.com/skirmish-maps.html"
		}
	  ]
	}
  </script>
  <script src="src/js/htmx.min.js" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>

<body>
	<!-- End Google Tag Manager (noscript) -->
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main>
		<div class="overview">
			<h1>Skirmish Maps</h1>
            <p><b>Bellum Æternum</b>: A More Realistic Red Alert 2</p>
		</div>
        <div class="maps-section">
            <div class="map-selector" id="map-selector">
                <button class="map-selector-button selected-button" onclick="mapFilterSelection('all')">All Maps</button>
                <button class="map-selector-button" onclick="mapFilterSelection('1v1')">2 Players Maps</button>
                <button class="map-selector-button" onclick="mapFilterSelection('2v2')">4 Players Maps</button>
                <button class="map-selector-button" onclick="mapFilterSelection('3v3')">6 Players Maps</button>
                <button class="map-selector-button" onclick="mapFilterSelection('4v4')">8 Players Maps</button>
            </div>
            <div class="map-list">
                <div class="map-type 1v1">
                    <div class="map">
                        <img src="src/maps/skirmish-verdant-hills.webp" alt="苍翠丘陵" width="1280px" height="1108px">
                        <div class="map-description">
                            <h3>Verdant Hills</h3>
                            <p>The hill, named for being enveloped by dense forests, has been ruled for generations by the lords residing upon it since the Middle Ages. Subsequently, the underground oil reserves drew the flames of war to this place, turning the ancient and tranquil village into a strategically contested area.</p>
                            <p></p>
                            <div class="map-info-table">
                                <table>
                                    <tr>
                                        <th>Mode</th>
                                        <td>
                                            <ul>
                                                <li>Standard</li>
                                                <li>Meat Grinder</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tech Buildings</th>
                                        <td>
                                            <ul>
                                                <li>Tech Oil Derrick</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-type 2v2">
                    <div class="map">
                        <img src="src/maps/skirmish-leavenworth.webp" alt="利文沃斯" width="1280px" height="637px">
                        <div class="map-description">
                            <h3>Leavenworth</h3>
                            <p>Nestled at the foot of the Alps, this mountain town was once all but forgotten by the world. During World War II, it was temporarily taken over by German forces as a logistical supply point, where railways and highways were built. After the war, the town regained its former tranquility. However, a different war has now transformed this forgotten town into a strategic point once again.</p>
                            <div class="map-info-table">
                                <table>
                                    <tr>
                                        <th>Mode</th>
                                        <td>
                                            <ul>
                                                <li>Standard</li>
                                                <li>Team Alliance</li>
                                                <li>Meat Grinder</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tech Buildings</th>
                                        <td>
                                            <ul>
                                                <li>Tech Oil Derrick</li>
                                                <li>Civilian Hospital</li>
                                                <li>Machine Shop</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <img src="src/maps/skirmish-frost-reach.webp" alt="Frost Reach" width="1280px" height="643px">
                        <div class="map-description">
                            <h3>Frost Reach</h3>
                            <p>A river flowing to the Arctic Ocean runs through this obscure Nordic town. If oil hadn't been discovered, the flames of war would never have reached here.</p>
                            <div class="map-info-table">
                                <table>
                                    <tr>
                                        <th>Mode</th>
                                        <td>
                                            <ul>
                                                <li>Standard</li>
                                                <li>Team Alliance</li>
                                                <li>Meat Grinder</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tech Buildings</th>
                                        <td>
                                            <ul>
                                                <li>Tech Oil Derrick</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-type 3v3">
                    <div class="map">
                        <img src="src/maps/skirmish-mt-thunderhead.webp" alt="Mt.Thunderhead" width="1280px" height="374px">
                        <div class="map-description">
                            <h3>Mt.Thunderhead</h3>
                            <p>Connected to the Alps, it was originally a village that attracted little attention. After the war broke out, strange thunderstorms began appearing frequently over its mountaintops—lightning clearly visible even at its base. Many locals claimed this phenomenon only started after Allied forces entered the area, though such claims were swiftly dismissed by officials. Today, it has become an ideal campsite, with residents from surrounding towns driving here to witness the spectacle.</p>
                            <div class="map-info-table">
                                <table>
                                    <tr>
                                        <th>Mode</th>
                                        <td>
                                            <ul>
                                                <li>Standard</li>
                                                <li>Team Alliance</li>
                                                <li>Meat Grinder</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tech Buildings</th>
                                        <td>
                                            <ul>
                                                <li>Tech Oil Derrick</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-type 4v4">
                    <div class="map">
                        <img src="src/maps/skirmish-sturmburg.webp" alt="Sturmburg" width="1280px" height="374px">
                        <div class="map-description">
                            <h3>Sturmburg</h3>
                            <p>Since the Middle Ages, the lord of this secluded mountain village has held sway over the land. Yet, the war's outbreak and its resulting scarcity of resources have inflamed tensions, with various powers now plotting to seize control. Even the lord of Sturmburg is now reaching out to outside forces, preparing to defend the legacy painstakingly built over generations.</p>
                            <div class="map-info-table">
                                <table>
                                    <tr>
                                        <th>Mode</th>
                                        <td>
                                            <ul>
                                                <li>Siege</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tech Buildings</th>
                                        <td>
                                            <ul>
                                                <li>Tech Oil Derrick</li>
                                                <li>Machine Shop</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-type 4v4">
                    <div class="map">
                        <img src="src/maps/skirmish-modern-times.webp" alt="Modern Times" width="1280px" height="374px">
                        <div class="map-description">
                            <h3>Modern Times</h3>
                            <p>As the two global superpowers, the United States and the Soviet Union, confronted each other, they began to transfer their surplus basic industries to Europe. In a short period of time, industrial zones have spread through almost all the towns in European continent. With the outbreak of war, these industrial zones quickly became fiercely contested territories, and the labours continue to work amidst the conflict just to survive.</p>
                            <div class="map-info-table">
                                <table>
                                    <tr>
                                        <th>Mode</th>
                                        <td>
                                            <ul>
                                                <li>Standard</li>
                                                <li>Team Alliance</li>
                                                <li>Meat Grinder</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tech Buildings</th>
                                        <td>
                                            <ul>
                                                <li>Tech Oil Derrick</li>
                                                <li>Machine Shop</li>
                                                <li>Civilian Hospital</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Map Filter-->
        <script>
            mapFilterSelection("all")
            function mapFilterSelection(c) {
                var x, i;
                x = document.getElementsByClassName("map-type");
                if (c == "all") c = "";
                // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
                for (i = 0; i < x.length; i++) {
                    w3RemoveClass(x[i], "show-maps");
                    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show-maps");
                }
                }

                // Show filtered elements
                function w3AddClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                    }
                }
                }

                // Hide elements that are not selected
                function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                    }
                }
                element.className = arr1.join(" ");
                }

                // Add active class to the current control button (highlight it)
                var btnContainer = document.getElementById("map-selector");
                var btns = btnContainer.getElementsByClassName("map-selector-button");
                for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                    var current = document.getElementsByClassName("selected-button");
                    current[0].className = current[0].className.replace(" selected-button", "");
                    this.className += " selected-button";
                });
            }
        </script>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>Bellum<br>Æternum</p>
				</div>
				<div class="lang-selector">
					<p>LANGUAGE</p>
					<div class="lang-list">
						<a href="skirmish-maps.html">EN</a>
						<a href="/zh/skirmish-maps.html">中</a>
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>
</html>