html {
	scroll-padding-top: 100px;
}

* {
	box-sizing: border-box; 
	font-family: sans-serif;
	scroll-behavior: smooth;
	user-select: none;
}

body {
	margin: 0;
	background-color: #333;
	background-image: url("src/background-pattern.webp");
	background-repeat: repeat;
	background-blend-mode: normal;
	color: #fff;
}

p {
	margin: 0;
}

/*Animations*/
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes btn-anim {
  0%,100%  {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(0deg, red, black) border-box;}
  5%  {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(18deg, red, black) border-box;}
  10% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(36deg, red, black) border-box;}
  15% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(64deg, red, black) border-box;}
  20% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(72deg, red, black) border-box;}
  25% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(90deg, red, black) border-box;}
  30% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(108deg, red, black) border-box;}
  35% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(126deg, red, black) border-box;}
  40% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(144deg, red, black) border-box;}
  45% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(162deg, red, black) border-box;}
  50% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(180deg, red, black) border-box;}
  55% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(198deg, red, black) border-box;}
  60% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(216deg, red, black) border-box;}
  65% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(234deg, red, black) border-box;}
  70% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(252deg, red, black) border-box;}
  75% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(270deg, red, black) border-box;}
  80% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(288deg, red, black) border-box;}
  85% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(306deg, red, black) border-box;}
  90% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(324deg, red, black) border-box;}
  95% {background: linear-gradient(0deg, #666, #bbb) padding-box, linear-gradient(342deg, red, black) border-box;}
}

/*--------------------------*/
/*----------Header----------*/
/*--------------------------*/
header {
	position:fixed;
	width: 100%;
	display: flex;
	/*background-image: linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);*/
	background:
		linear-gradient(180deg, #383838 0%, #404040 20%, #484848 40%, #505050 55%, #595959 65%, #616161 70%, #696969 75%, #797979 80%, #898d85 85%, #a5a5a5 90%, #aeb2ba 95%, #505050 100%);
	z-index: 10;
}

.responsive-navigation {
	display: none;
	margin: 5px auto;
	filter: drop-shadow(0 0 5px #000000);
}

.navigation-button {
	align-items: center;
	display: flex;
	margin: auto;
	padding: 0 5vw;
	width: 80%;
	/*background:linear-gradient(0deg, #383838 0%, #595959 15%, #696969 65%, #898d85 90%, #aeb2ba 100%);
	border: 1px solid #898d85;
	border-style: outset;*/
}

.navigation-button li {
	display: block;
	list-style: none;
	margin: auto;
	background:linear-gradient(0deg, #383838 0%, #595959 15%, #696969 65%, #898d85 90%, #aeb2ba 100%);
	border: 1px solid #898d85;
	border-style: outset;
	padding: 1.5vw;
	width: 25%;
}

/*
.navigation-button a{
	text-align: center;
	font-size: 18px;
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	font-weight: 800;
	color: darkred;
	box-shadow: 0 0 5px white inset;
	padding: 0.5em;
	background:
		linear-gradient(0deg, #999, #ddd) padding-box,
		linear-gradient(0deg, red, black) border-box;
	border: 5px solid transparent;
	border-radius: 16px;
  text-decoration: none;
}


.navigation-button a:hover{
	color: yellow;
	text-shadow: 0 0 5px gold;
	box-shadow: 0 0 2px black inset;
	animation: btn-anim 2s infinite;
}
*/

.navigation-button a{
	display: block;
	margin: auto;
	align-items: center;
	text-align: center;
	font-size: 18px;
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	font-weight: 800;
	padding: 0.5em;
	color: goldenrod;
	border: 2px solid #000000;
	border-style: ridge;
	background: rgb(214,4,8);
	background: radial-gradient(circle, #d60408 0%, #ce0000 10%, #9d0000 30%, #850000 50%, #710000 70%, #400000 90%, #482428 100%);
	box-shadow: 0 0 5px #000000 inset;
  text-decoration: none;
}

.navigation-button a:hover{
	color: lightgoldenrodyellow;
	text-shadow: 0 0 5px gold;
	background: rgb(255,174,0);
	background: radial-gradient(circle, #ffae00 0%, #ffa500 10%, #ff8d00 30%, #ff7900 50%, #e25000 70%, #da4800 90%, #892404 100%);
	box-shadow: 0 0 2px darkred inset;
}

/*------------------------*/
/*----------Main----------*/
/*------------------------*/
main {
	display: block;
	margin: auto;
	padding: 5vw 0;
}

/*-------------------------*/
/*---------Footer----------*/
/*-------------------------*/
footer {
	display: grid;
	text-align: center;
	background-image: linear-gradient(180deg, #ffffff 0%, #dddddd 1%, #afafaf 50%, #939393 100%);
	border-width: 5px 0 0 0;
	border-color: #fff;
	border-style: outset;
}

.footer-container {
	display: flex;
	width: 100%;
}

.footer-left {
	width: 30%;
	margin-top: 48px;
}

.footer-left img{
	border-radius: 24px;
	border: 4px solid #333333;
	background: linear-gradient(-45deg, #000000 0, #666666 50%, #000000 100%);
	background-blend-mode: hard-light;
}

.footer-right {
	display: flex;
	overflow: auto;
	float: left;
	width: 70%;
}

.footer-column {
	display: block;
	width: 33%;
}

.footer-column p{
	margin: 1em;
	padding: 0 2vw;
	color: #dddddd;
	font-family: HarmonyOS Sans, sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	text-shadow: 0 1px 2px #333333;
}

.footer-column ul {
	display: block;
	margin: 1em;
	padding: 0 2vw;
	font-family: HarmonyOS Sans, sans-serif;
	font-size: 24px;
	color: #666;
	list-style-type: none;
}

.footer-column li {
	display: block;
	text-align: left;
	line-height: 1.5em;
}

.footer-column a{
	font-family: HarmonyOS Sans, sans-serif;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}

.footer-column a:hover {
	color: #aa0000;
}

.footer-portals {
	margin: 1vw;
	background: linear-gradient(-45deg, #000000 0, #666666 40%, #000000 60%, #666666 80%, #000000 100%);
	border-radius: 12px;
	border: 3px solid #333333;
	display: flex;
	flex-flow: row-reverse;
}

.footer-portals a{
	text-decoration: none;
	margin: 0.5vw 0;
	color: #ff3333;
	text-shadow: 0 0 5px #ff0000;
	font-family: HarmonyOS Sans Black, sans-serif;
	font-weight: 600;
	padding: 0 1.5vw;
	border-left: 3px solid #ffffff;
}

.footer-portals a:hover {
	color: #ffffcc;
	text-shadow: 0 0 5px #ffcc00;
	filter: drop-shadow(0 0 2px #ff3300);
}

/*----------Public Module----------*/
.faction-selector {
	display: flex;
	margin: 24px auto;
	width: 25vw;
	padding: 12px;
	background:linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);
	border-radius: 36px;
	border: 4px outset #ddd;
	box-shadow: 0 0 24px #000;
}

.faction-container {
	display: grid;
	margin: auto;
	width: 10vw;
}

.faction-container p {
	color: #ffffff;
	font-size: 16px;
	font-family: monospace;
	background-color: #000000;
	border: 1px solid #ffffff;
	border-style: ridge;
	text-align: center;
}

.faction-container img{
	margin: auto;
	padding: 0px;
	max-width: 10vw;
	border-radius: 32px;
	border: 4px inset #000;
	filter:  sepia(60%);
	aspect-ratio: 1 / 1;
}

.faction-selector img:hover {
	filter:  sepia(0%) drop-shadow(0 0 15px #ddd);
}

.cta-btn {
	display: flex;
	margin: auto;
	width: 50%;
	padding: 32px;
}

.cta-btn a{
	display: block;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: 800;
	color: darkred;
	box-shadow: 0 0 5px white inset;
	padding: 0.5em;
	background:
		linear-gradient(0deg, #999, #ddd) padding-box, /*this is your grey background*/
		linear-gradient(0deg, red, black) border-box;
	border: 5px solid transparent;
	border-radius: 20px;
    text-decoration: none;
}

.cta-btn a:hover {
	color: yellow;
	text-shadow: 0 0 5px gold;
	box-shadow: 0 0 2px black inset;
	animation: btn-anim 2s infinite;
}

/*------------------------------*/
/*----------Lobby Page----------*/
/*------------------------------*/

/*----------Overview Module----------*/
.overview {
	padding: 5vw;
}

.overview h1 {
	font-family: HarmonyOS Sans Black, SF Pro, sans-serif;
	font-size: 72px;
	font-weight: 900;
	font-variant: small-caps;
	line-height: 0.5em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-shadow: 0 0 10px #000000;
}

.overview h2 {
	font-family: sans-serif;
	font-size: 24px;
	text-align: center;
}

.overview p {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	text-align: center;
}


.slideshow-container {
	margin: auto;
	max-width: 50%;
	position: relative;
	margin-top: 48px;
}

.slides {
	display: none;
}

.slides img {
	display: block;
	margin: auto;
	vertical-align: middle;
	border-radius: 48px;
	border: 24px solid transparent;
	background: radial-gradient(ellipse, #333 0, #464646 75%, #363636 90%, #262626 100%);
	box-shadow: 0 0 24px #000;
	max-width: 100%;
	aspect-ratio: 79 / 71;
}

.slides-text {
	font-family: sans-serif;
	color: #ffcccc;
	font-size: 14px;
	padding: 0;
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 2px #ff0000;
}

.slideshow-dots{
	text-align: center;
}

.dot {
	height: 24px;
	width: 24px;
	margin: 8px;
  /*background: radial-gradient(circle,#aaa 0, #666 50%, #666 100%);*/
	background:
		radial-gradient(circle,#aaa 0, #666 50%, #666 100%) padding-box,
		radial-gradient(circle, #cccccc 0%, #ffffff 10%, #ffffff 50%, #333333 100%) border-box;
	border: 3px solid transparent;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background:
		radial-gradient(circle,#ffcc33 0, #ff3333 50%, #ff3333 100%) padding-box,
		radial-gradient(circle, #cccccc 0%, #ffffff 10%, #ffffff 50%, #333333 100%) border-box;
	text-shadow: 0 0 5px #ff3333 inset;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



/*----------Features Module----------*/

.features {
	display: block;
	margin: 5vw 5vw;
}

.features h2{
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
}

.features-module {
	display: flex;
}

.feature-container {
	display: block;
	width: 20%;
	margin: auto;
	background:linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);
	border-radius: 36px;
	border: 4px outset #ddd;
	box-shadow: 0 0 24px #000;
}

.feature-container img{
	display: block;
	width: 90%;
	margin: 12px auto;
	border-radius: 32px;
	border: 4px inset #000;
	aspect-ratio: 1 / 1;
}

.feature-container h3{
	font-family: HarmonyOS Sans, sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #333333;
	text-align: center;
	text-shadow: 0 0 1px #666666;
}

.feature-container p{
	font-family: monospace;
	font-size: 12px;
	font-weight: 400;
	color: #ffffff;
	text-align: left;
	line-height: 1.25em;
	margin: 24px;
	padding: 6px;
	background-color: #010101;
	border: 1px solid #ffffff;
	border-style: ridge;
	box-shadow: 1px 0 0px #000000;
	/*
	border: 2px solid #fff;
	border-style: inset;
	border-radius: 10px;
	*/
}



/*----------Factions Module----------*/
.factions {
	margin: auto;
	width: 60%;
}

.factions h2{
	font-family: HarmonyOS Sans, sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
}

.factions p{
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	text-align: center;
}

.zigzag-module {
	display: block;
}

.zig-zag {
	display: flex;
	box-shadow: 0 1px 10px #000;
	margin: 24px;
	padding: 1vw;
	background:linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);
	border-radius: 36px;
	border: 4px outset #ddd;
	box-shadow: 0 0 24px #000;
}

.zag-zig {
	display: flex;
	flex-flow: row-reverse;
	box-shadow: 0 1px 10px #000;
	margin: 24px;
	padding: 1vw;
	background:linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);
	border-radius: 36px;
	border: 4px outset #ddd;
	box-shadow: 0 0 24px #000;
}

.zig {
	display: block;
	width: 50%;
}

.zig img {
	border-radius: 24px;
	border: 6px solid #333333;
	margin: auto;
	max-width: 100%;
	aspect-ratio: 1/1;
}

.zag {
	display: grid;
	width: 50%;
	padding: 0 2vw;
}

.zag h3 {
	font-family: HarmonyOS Sans, sans-serif;
	font-size: 48px;
	font-weight: 600;
	line-height: 1.5em;
	color: #000000;
	margin: auto;
	text-align: left;
}

.zag p {
	color: #000000;
	margin: 12px 0px;
	padding-right: 48px;
	text-align: left;
	vertical-align: middle;
}

.zag a {
	width: 100%;
	color: gold;
	font-family: HarmonyOS Sans Black, sans-serif;
	font-size: 24px;
	font-weight: 600px;
	text-decoration: none;
	margin: auto;
	text-align: center;
	background: radial-gradient(ellipse, #a00000 0%, #660000 40%, #330000 80%, #330000 100%);
	padding: 0.5em;
	box-shadow: 0 0 12px #cc0000 inset;
	border-radius: 12px;
}

.zag a:hover {
	color: yellow;
	text-shadow: 0 0 5px yellow;
	background: radial-gradient(ellipse, #dd0000 20%, #a00000 40%, #660000 80%, #660000 100%);
	box-shadow: 0 0 12px #330000 inset;
}

/*----------Blogs Module----------*/

.blogs h2 {
	font-family: HarmonyOS Sans, sans-serif;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}

/*------------------------------*/
/*----------Units Page----------*/
/*------------------------------*/

.units {
	width: 80%;
	padding: 5vw;
	margin: auto;
}

.units h1{
	font-family: HarmonyOS Sans Black, SF Pro, sans-serif;
	font-size: 72px;
	font-weight: 900;
	font-variant: small-caps;
	line-height: 0.5em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-shadow: 0 0 10px #000000;
}

.units p{
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
	margin: auto;
}

.units h2{
	font-size: 24px;
	font-family: HarmonyOS Sans Black, sans-serif;
	text-align: center;
}
.unit-container {
	display: flex;
	margin: 10px auto;
	padding: 0;
	width: 100%;
	border-radius: 25px;
	background-color: #dddddd10;
	box-shadow: 0 0 12px #000;
}

.unit-container-left {
	width: 28%;
	padding: 12px;
}

.unit-container-left img{
	border-radius: 20px;
	max-width: 360px;
	aspect-ratio: 4 / 3 !important;
}

.unit-container-mid{
	display: grid;
	width: 15%;
	padding: 5% 0;
}

.unit-container-mid h3{
	padding: 0.5em;
	margin: auto;
	text-align: center;
	font-size: 24px;
}

.unit-container-mid img{
	display: block;
	position: relative;
	margin: auto;
	max-width: 60px;
	/*margin-top: calc(50% - 24px);*/
	margin: auto;
}

.unit-container-right{
	display: grid;
	width: 57%;
}

.unit-container-right p{
	font-size: 18px;
	padding: 1em;
	line-height: 1.5em;
	text-align: left;
}

.unit-container-right ul{
	text-align: left;
}

.unit-container-right li{
	font-size: 14px;
	font-weight: 400;
	font-family: Arial;
}

.unit-container-right a{
	color: #ffffff;
	font-weight: 600;
}

/*---------------------------------*/
/*----------Download Page----------*/
/*---------------------------------*/

.download h1{
	font-size: 24px;
	text-align: center;
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	margin: 48px auto 0 auto;
}

.download h2{
	font-size: 48px;
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	text-align: center;
	margin: 0 auto 48px auto;
}

.progress {
	margin: auto 20vw;
	padding: 1vw;
	background:linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);
	border-radius: 36px;
	border: 4px outset #ddd;
	box-shadow: 0 0 24px #000;
}

.progress img{
	display: block;
	margin: auto;
	border: 4px inset #cccccc;
	border-radius: 48px;
}

.dev-gauge {
	text-align: center;
}

.dev-gauge label{
	color: #000000;
	font-family: HarmonyOS Sans Black, SF Pro, sans-serif;
	font-size: 24px;
	line-height: 2em;
}

.dev-gauge progress {
  -webkit-appearance: none;
  display: block;
  width: 50%;
  margin: 24px auto 48px auto;
}

::-webkit-progress-bar {
	display: block;
  background-color: #000000;
  height: 2lh;
}

::-webkit-progress-value {
  /*background-color: #cc0000;*/
  background: linear-gradient(90deg, #330000 0, #660000 40%, #cc0000 80%, #ff0000);
  box-shadow: 0 0 6px #ff6666;
}

::-webkit-progress-inner-element {
  border: 2px solid #cccccc;
  border-style: inset;
  height: calc(2lh + 4px);

}

.engine-container {
	display: flex;
	width: 75%;
	margin: auto;
	background:linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);
	border-radius: 36px;
	border: 4px outset #ddd;
	box-shadow: 0 0 24px #000;
}

.engine {
	width: 80%;
	margin: 10vw auto;
}

.engine-container img {
	max-width: 50%;
	aspect-ratio: 632 / 460;
}

.engine-container-right {
	width: 50%;
	display: grid;
}

.engine-container-right h3{
	font-family: HarmonyOS Sans Black, SF Pro, sans-serif;
	font-size: 60px;
	color: #000000;
	margin: 0.5em 0 0 0;
	height: 1em;
}

.engine-container-right p{
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	font-size: 24px;
	color: #000000;
	margin: 0 2em 0 0;
}

.engine-container-right a{
	width: 50%;
	color: gold;
	font-family: HarmonyOS Sans Black, sans-serif;
	font-size: 24px;
	font-weight: 600px;
	text-decoration: none;
	margin: auto;
	text-align: center;
	background: radial-gradient(ellipse, #a00000 0%, #660000 40%, #330000 80%, #330000 100%);
	padding: 0.5em;
	box-shadow: 0 0 12px #cc0000 inset;
	border-radius: 12px;
}

.engine-container-right a:hover {
	color: yellow;
	text-shadow: 0 0 5px yellow;
	background: radial-gradient(ellipse, #dd0000 20%, #a00000 40%, #660000 80%, #660000 100%);
	box-shadow: 0 0 12px #330000 inset;
}

.guide {
	margin: auto;
	width: 60%;
}

.guide-container {
	display: block;
	margin: 1vw auto;
	padding: 0;
	width: 100%;
	border-radius: 25px;
	background-color: #dddddd10;
	box-shadow: 0 0 12px #000;
}

.guide-container p{
	font-family: HarmonyOS Sans, SF Pro, sans-serif;
	font-size: 24px;
	color: #ffffff;
	margin: auto 5vw;
	padding: 1vw;
}

/*----------------------------*/
/*----------404 Page----------*/
/*----------------------------*/
.four-o-four {
	display: block;
	margin: auto;
}

.four-o-four img{
	display: block;
	max-width: 50%;
	margin: 48px auto;
	background-color: #000000;
	border: 8px ridge #cccccc;
	border-radius: 48px;
}

.four-o-four h1 {
	text-align: center;
}

.four-o-four h2 {
	text-align: center;
}

/*--------------------!!!-------------------!!!--------------------*/
/*--------------------!!! <<< Responsive>>> !!!--------------------*/
/*--------------------!!!-------------------!!!--------------------*/

/*----------================================----------*/
/*----------==========Small Laptop==========----------*/
/*----------================================----------*/
@media only screen and (max-width: 1680px) {

	/*----------Header----------*/
	.navigation-button {
		width: 100%;
	}
	/*----------Main----------*/
	main {
		display: block;
		margin: auto;
	}
	/*------------------------------*/
	/*----------Lobby Page----------*/
	.overview {
	}
	
	.slideshow-container {
		max-width: 60%;
	}
	
	.features {
		margin: 96px 2vw;
	}
	
	.features-module {
		display: flex;
	}
	
	.feature-container{
		margin: 1vw auto;
		width: 20%;
	}
	
	/*----------Factions----------*/
	.factions {
		width: 75%;
	}
	
	/*-------------------------*/
	/*----------Units----------*/
	/*-------------------------*/

	.units {
		width: 100%;
		padding: 1vw;
	}

	.unit-container-right {
		width: 50%;
	}
}

/*----------===================================----------*/
/*----------==========Tablet Horizontal==========----------*/
/*----------===================================----------*/
@media only screen and (max-width: 1280px) {
	/*----------Header----------*/
	.navigation-button {
		width: 100%;
	}

	.navigation-button li{
		width: 25%;
	}

	.navigation-button a {
		font-size: 10px;
	}

	/*----------Main----------*/
	main {
		display: block;
		margin: auto;
	}
	
	/*----------Public Module----------*/
	.faction-selector {
		width: 50%;
	}
	
	.faction-container {
		width: 20vw;
	}

	.faction-container p {
		width: 10em;
		margin: auto;
	}
	.faction-selector img{
		max-width: 20vw;
	}
	
	.features-module {
		display: flex;
		flex-wrap: wrap;
	}
	
	.feature-container{
		margin: 1vw auto;
		width: 45%;
	}

	/*------------------------------*/
	/*----------Lobby Page----------*/
	/*------------------------------*/

	/*----------Factions----------*/
	.factions {
		width: 90%;
	}

	.zigzag-module {
		display: block;
	}

	.zig-zag {
		display: block;
		background-color: #dddddd20;
		border-radius: 24px;
		box-shadow: 0 1px 10px #000;
		margin: 6px;
	}
	
	.zag-zig {
		display: block;
		flex-direction: row;
		background-color: #dddddd20;
		border-radius: 24px;
		box-shadow: 0 1px 10px #000;
		margin: 6px;
	}

	.zig {
		display: grid;
		width: 100%;
		padding:3px;
	}

	.zig img {
		display: block;
		border-radius: 24px;
		margin: auto;
		width: 100%;
		height: auto;
	}

	.zag {
		display: grid;
		width: 100%;
		padding:3px;
	}

	.zag h3 {
		font-family: HarmonyOS Sans, sans-serif;
		font-size: 36px;
		font-weight: 600;
		line-height: 1.5em;
		margin: auto;
		text-align: center;
	}

	.zag p {
		margin: 12px 12px;
		padding-right: 0;
	}

	.zag a {
		width: 100%;
		color: gold;
		font-family: HarmonyOS Sans Black, sans-serif;
		font-size: 24px;
		font-weight: 600px;
		text-decoration: none;
		margin: auto;
		text-align: center;
		background: radial-gradient(ellipse, #a00000 0%, #660000 40%, #330000 80%, #330000 100%);
		padding: 0.5em;
		box-shadow: 0 0 12px #cc0000 inset;
		border-radius: 12px;
	}

	.zag a:hover {
		color: yellow;
		text-shadow: 0 0 5px yellow;
		background: radial-gradient(ellipse, #dd0000 20%, #a00000 40%, #660000 80%, #660000 100%);
		box-shadow: 0 0 12px #330000 inset;
	}

	/*------------------------------*/		
	/*----------Units Page----------*/
	/*------------------------------*/
	.units {
		width: 100%;
	}
	
	.unit-container {
		display: flex;
		flex-wrap: wrap;
	}
	
	.unit-container-left {
		width: 50%;
	}
	
	.unit-container-mid {
		display: grid;
		width: 50%;
	}
	
	.unit-container-mid h3{
		width: 80%;
	}
	
	.unit-container-right {
		display: flex;
		width: 100%;
	}
	
	.unit-container-right p {
		width: 60%;
	}
	
	.unit-container-right ul{
		width: 40%;
	}

	/*---------------------------------*/
	/*----------Download Page----------*/
	/*---------------------------------*/

	.progress {
		margin: auto;
		width: 90%;
	}
	.progress img{
		max-width: 100%;
		height: auto;
	}
	.engine {
		width: 90%;
	}
	.engine-container {
		display: block;
		margin: auto;
		width: 100%;
	}
	.engine-container img{
		display: block;
		max-width: 100%;
		margin: auto;
	}
	.engine-container-right {
		width: 100%;
	}
	.engine-container-right h3{
		margin: 0.5em auto;
	}

	.engine-container-right p{
		margin: 0.5em 1em;
	}
	.guide {
		width: 90%;
	}

	/*----------------------------*/
	/*----------404 Page----------*/
	/*----------------------------*/
	.four-o-four {
		display: block;
		margin: auto;
	}

	.four-o-four img{
		display: block;
		max-width: 50%;
		margin: 48px auto;
		background-color: #000000;
		border: 8px ridge #cccccc;
		border-radius: 48px;
	}

	.four-o-four h1 {
		text-align: center;
	}

	.four-o-four h2 {
		text-align: center;
	}

}

/*----------===================================----------*/
/*----------==========Tablet Verticle==========----------*/
/*----------===================================----------*/
@media only screen and (max-width: 960px) {
	/*----------Overview----------*/
	.slideshow-container {
		max-width: 100%;
		margin: 10vw;
	}
	
	/*----------Factions----------*/
	.factions {
		width: 90%;
	}

	.zigzag-module {
		display: block;
	}

	.zig-zag {
		display: block;
		background-color: #dddddd20;
		border-radius: 24px;
		box-shadow: 0 1px 10px #000;
		margin: 6px;
	}
	
	.zag-zig {
		display: block;
		flex-direction: row;
		background-color: #dddddd20;
		border-radius: 24px;
		box-shadow: 0 1px 10px #000;
		margin: 6px;
	}

	.zig {
		display: grid;
		width: 100%;
		padding:3px;
	}

	.zig img {
		display: block;
		border-radius: 24px;
		margin: auto;
		width: 100%;
		height: auto;
	}

	.zag {
		display: grid;
		width: 100%;
		padding:3px;
	}

	.zag h3 {
		font-family: HarmonyOS Sans, sans-serif;
		font-size: 36px;
		font-weight: 600;
		line-height: 1.5em;
		margin: auto;
		text-align: center;
	}

	.zag p {
		margin: 12px 12px;
		padding-right: 0;
	}

	.zag a {
		width: 100%;
		color: gold;
		font-family: HarmonyOS Sans Black, sans-serif;
		font-size: 24px;
		font-weight: 600px;
		text-decoration: none;
		margin: auto;
		text-align: center;
		background: radial-gradient(ellipse, #a00000 0%, #660000 40%, #330000 80%, #330000 100%);
		padding: 0.5em;
		box-shadow: 0 0 12px #cc0000 inset;
		border-radius: 12px;
	}

	.zag a:hover {
		color: yellow;
		text-shadow: 0 0 5px yellow;
		background: radial-gradient(ellipse, #dd0000 20%, #a00000 40%, #660000 80%, #660000 100%);
		box-shadow: 0 0 12px #330000 inset;
	}
	
	
	/*-------------------------*/
	/*----------Units----------*/
	/*-------------------------*/
	.units {
		width: 100%;
	}

	.unit-container {
		display: flex;
	}

	.unit-container-mid{
		display: grid;
	}

	.unit-container-right{
		display: flex;
	}

	.unit-container-right p{
		width: 50%;
	}

	.unit-container-right ul{
		width: 50%;
	}
	
	/*----------------------------*/
	/*----------404 Page----------*/
	/*----------------------------*/
	.four-o-four {
		display: block;
		margin: auto;
	}

	.four-o-four img{
		display: block;
		max-width: 90%;
		margin: 128px auto;
		background-color: #000000;
		border: 8px ridge #cccccc;
		border-radius: 48px;
	}

	.four-o-four h1 {
		text-align: center;
	}

	.four-o-four h2 {
		text-align: center;
	}

}

/*----------=========================----------*/
/*----------==========Phone==========----------*/
/*----------=========================----------*/
@media only screen and (max-width: 720px) {
	header {
	}

	.responsive-navigation {
		display: block;
	}

	.navigation-button {
		display: none;
	}

	/*----------Main----------*/
	main {
		
	}

	/*---------Footer----------*/
	footer {
	}
	
	.footer-container {
		display: inline-block;
	}

	.footer-left {
		width: 100%;
		margin-top: 48px;
	}

	.footer-right {
		display: block;
		overflow: auto;
		float: none;
		width: 100%;
	}
			
	.footer-column {
		margin: auto;
		display: block;
		width: 90%;
	}

	.footer-column P{
		text-align: center;
	}
	
	.footer-column li{
		text-align: center;
	}
	
	.footer-column a{
		font-size: 18px;
		color: #000;
		text-decoration: none;
	}

	.footer-column a:hover {
		color: #aa0000;
	}
	
	.footer-portals {
		display: none;
	}
	
	
	/*----------Lobby Page----------*/
	/*----------Overview Module----------*/
	.overview {
		margin: 0;
		padding: 5vw;
	}

	.overview h1 {
		font-family: HarmonyOS Sans Black,sans-serif;
		font-size: 60px;
		font-weight: 900;
		font-variant: small-caps;
		line-height: 1em;
		margin: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		text-align: center;
		text-shadow: 0 0 10px #000000;
	}

	.overview h2 {
		font-family: sans-serif;
		font-size: 24px;
		text-align: center;
	}

	.overview p {
		font-family: sans-serif;
		font-size: 18px;
		line-height: 1.5em;
		text-align: center;
	}
	
	.cta-btn {
		width: 75%;
	}
	
	.slideshow-container {
		margin: 0;
		max-width: 100%;
		position: relative;
		margin-top: 24px;
	}

	.slides {
		display: none;
	}

	.slides img{
		display: block;
		margin: auto;
		vertical-align: middle;
		border-radius: 24px;
		border: none;
		background: none;
		box-shadow: 0 0 1px #000;
		max-width: 100%;
	}

	.slides-text {
		font-family: sans-serif;
		color: #ffcccc;
		font-size: 14px;
		padding: 0;
		position: absolute;
		bottom: 4px;
		width: 100%;
		text-align: center;
		text-shadow: 0 0 2px #ff0000;
	}

	.slideshow-dots{
		text-align: center;
	}

	.dot {
	  height: 16px;
	  width: 16px;
	  margin: 8px;
	  background: radial-gradient(circle,#aaa 0, #666 50%, #666 100%);
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active {
	  background: radial-gradient(circle,#ffcc33 0, #ff3333 50%, #ff3333 100%);
	  box-shadow: 0 0 5px #ff3333;
	}
	
	/*----------Public Module----------*/
	.faction-selector {
		display: flex;
		width: 100%;
	}

	.faction-container {
		width: 100vw;
	}

	.faction-container p {
		width: 5em;
		margin: auto;
	}

	.faction-container a {
		float: left;
		margin: auto;
	}

	.faction-container img{
		padding: 0;
		max-width: 140px;
		border-radius: 24px;
		filter:  sepia(60%);
	}

	/*----------Features Module----------*/
	.features {
		display: block;
		margin: 0 0;
	}

	.features h2{
		font-family: HarmonyOS Sans, sans-serif;
		font-size: 32px;
		font-weight: 600;
		text-align: center;
	}

	.features-module {
		display: flex;
	}

	.feature-container {
		display: block;
		width: 90%;
		margin: 12px auto;
		background:linear-gradient(0deg, #c8c8c8 0%, #ffffff 15%, #c8c8c8 65%, #adadad 90%, #939393 100%);
		border-radius: 36px;
		border: 4px outset #ddd;
		box-shadow: 0 0 24px #000;
	}

	.feature-container img{
		display: block;
		width: 90%;
		margin: 12px auto;
		border-radius: 32px;
		border: 4px inset #000;
		aspect-ratio: 1 / 1;
	}

	.feature-container h3{
		font-family: HarmonyOS Sans, sans-serif;
		font-size: 24px;
		font-weight: 600;
		color: #000000;
		text-align: center;
	}

	.feature-container p{
		font-family: monospace;
		font-size: 12px;
		font-weight: 400;
		color: #ffffff;
		text-align: left;
		line-height: 1.25em;
		margin: 24px;
		padding: 6px;
	}

	/*----------Factions----------*/
	.factions {
		margin: auto;
		width: 95%;
	}

	.factions h2{
		font-family: HarmonyOS Sans, sans-serif;
		font-size: 32px;
		font-weight: 600;
		text-align: center;
	}

	.factions p{
		font-family: sans-serif;
		font-size: 18px;
		line-height: 1.5em;
		text-align: center;
	}

	.zigzag-module {
		display: block;
	}

	.zig-zag {
		display: block;
		background-color: #dddddd20;
		border-radius: 24px;
		box-shadow: 0 1px 10px #000;
		margin: 6px;
	}
	
	.zag-zig {
		display: block;
		flex-direction: row;
		background-color: #dddddd20;
		border-radius: 24px;
		box-shadow: 0 1px 10px #000;
		margin: 6px;
	}

	.zig {
		display: block;
		width: 100%;
		padding:3px;
	}

	.zig img {
		border-radius: 24px;
		margin: auto;
		max-width: 100%;
		height: auto;
	}

	.zag {
		display: grid;
		width: 100%;
		padding:3px;
	}

	.zag h3 {
		font-family: HarmonyOS Sans, sans-serif;
		font-size: 36px;
		font-weight: 600;
		line-height: 1.5em;
		margin: auto;
		text-align: center;
	}

	.zag p {
		margin: 12px 12px;
		padding-right: 0;
	}

	.zag a {
		color: gold;
		font-family: HarmonyOS Sans Black, sans-serif;
		font-size: 24px;
		font-weight: 600px;
		text-decoration: none;
		margin: 0;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		background: radial-gradient(ellipse, #a00000 0%, #660000 40%, #330000 80%, #330000 100%);
		padding: 0.5em;
		box-shadow: 0 0 12px #cc0000 inset;
	}

	.zag a:hover {
		color: yellow;
		text-shadow: 0 0 5px yellow;
		background: radial-gradient(ellipse, #dd0000 20%, #a00000 40%, #660000 80%, #660000 100%);
		box-shadow: 0 0 12px #330000 inset;
	}
	
	/*----------Gallery Module----------*/
	.blog {
		width: 90%;
	}
	
	.blog h2 {
		font-family: HarmonyOS Sans, sans-serif;
		font-size: 32px;
		font-weight: 600;
		text-align: center;
	}

	/*-------------------------------*/
	/*----------Units Page-----------*/
	/*-------------------------------*/
	.units {
		padding: 0;
		width: 90%;
	}
	
	.unit-container {
		display: block;
		background-color: #dddddd10;
		border-radius: 25px;
		width: 100%;
	}

	.unit-container-left {
		margin: auto;
		width: 100%;
		padding: 5px;
	}

	.unit-container-left img{
		width: 100%;
		height: auto;
	}

	.unit-container-mid{
		display: flex;
		width: 100%;
	}

	.unit-container-mid h3{
		width: 60%;
		text-align: center;
		font-size: 18px;
	}

	.unit-container-mid img{
		width: 40%;
		max-width: 60px;
		margin: 15px 30px;
	}
	
	.unit-container-right{
		display: block;
		width: 100%;
	}

	.unit-container-right p{
		width: 100%;
		font-size: 18px;
		padding: 0 5vw;
		line-height: 1.5em;
		text-align: left;
	}

	.unit-container-right ul{
		width: 100%;
		text-align: left;
		padding: 2em 10vw;
	}

	/*----------------------------------*/
	/*----------Download Page-----------*/
	/*----------------------------------*/

	.download h2{
		font-size: 32px;
	}

	.progress {
		width: 90%;
		margin: auto;
	}

	.progress img{
		max-width: 100%;
		height: auto;
	}

	.dev-gauge {
		width: 100%;
		margin: 5vw auto;
	}

	.dev-gauge label{
		line-height: 1.5em;
	}

	.engine {
		width: 100%;
	}

	.engine-container {
		display: block;
		width: 90%;
	}

	.engine-container img{
		max-width: 100%;
	}

	.engine-container-right {
		display: grid;
		width: 100%;
	}

	.engine-container-right h3{
		margin: 2vw auto;
	}

	.engine-container-right p{
		margin: 2vw auto;
	}

	.guide {
		width: 90%;
	}

	.guide-container p{
		font-size: 16px;
	}

	/*----------------------------*/
	/*----------404 Page----------*/
	/*----------------------------*/
	.four-o-four {
		display: block;
		margin: auto;
	}

	.four-o-four img{
		display: block;
		max-width: 100%;
		margin: 48px auto;
		background-color: #000000;
		border: 8px ridge #cccccc;
		border-radius: 48px;
	}

	.four-o-four h1 {
		text-align: center;
	}

	.four-o-four h2 {
		text-align: center;
	}

}

/*----------Super Slim Phone----------*/
@media only screen and (max-width: 300px) {
	.faction-selector {
		width: 100%;
		margin: 0;
	}

	.faction-container img{
		display:block;
		margin: auto;
		max-width: 90%;
	}
}