* {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    margin: auto;
}

body {
    background-color: #080808;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    width: 60%;
}

h1 {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-weight: 800;
    border-left: 5px solid #CC0000;
    padding-left: 0.5em;
    line-height: 1.25em;
    margin: 0.5em 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
    margin: 0.5em 0;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0.5em 0;
}

p {
    line-height: 1.5em;
    margin: 0.25em 0;
}

a {
    text-decoration: none;
    color: #00CC00;
}

a:hover {
    text-decoration: underline;
    color: #00FF00;
}

a:visited {
    text-decoration: none;
    color: #FF0000;
}

li {
    line-height: 1.5em;
}

pre {
    font-family: monospace;
    color: #FFFFFF;
    text-align: left;
    white-space: pre-wrap;
    border: 1px solid #CCC;
    border-radius: 10px;
    background-color: #000;
    padding: 1em;
}

code {
    font-size: 12px;
    font-family: monospace;
    color: #00FF00;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 2px;
    margin: 0 2px;
    background-color: #080808;
}

summary {
    font-size: 18px;
    color: #999;
    cursor: pointer;
    padding-left: 1vw;
}

summary:hover {
    color: #FC0;
}

details {
    background-color: #666;
    padding-left: 1vw;
    box-shadow: 0 2px 2px #000;
}

#key {
    font-family: monospace;
    font-size: 14px;
    color: #00ff00;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 2em;
    padding: 0.5em;
    margin: 0.5em auto;
}

#key:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #00FF00;
}

#key::selection {
    color: #FFFFFF;
    text-shadow: 0 0 2px #00FF00;
    background-color: #009900;
}

#ini-section {
    color: #00CC00;
    font-weight: 700;
}

#ini-comment {
    color: #999999;
    font-weight: 300;
}

.general-table {
    margin: 1em 0;
    width: 50%;
}

.general-table table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.general-table tr:nth-child(even) {
    border-top: 1px solid #FFFFFF50;
    border-bottom: 1px solid #FFFFFF50;
}

.general-table th,td {
    margin: 0;
}

.general-table th {
    font-weight: 600;
    background-color: #933;
    padding: 1em;
    width: 30%;
}

.general-table td {
    background-color: #666;
    padding: 1em;
}

.label {
    background-color: #333;
    box-shadow: 0 2px 5px #000000;
    padding: 1em;
    margin: 0.5em 0;
}

.description {
    display: none;
}

.description .active {
    display: block;
}