<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="description" content="">
	<link rel="icon" type="image/svg" href="../src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/blog/beta-v1-1.html" />
	<link rel="alternate" hreflang="en" href="https://ra2be.com/blog/beta-v1-1.html" />
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/blog/beta-v1-1.html" />
	<title>Devlog: Beta v1 | YRMOD: Bellum Æternum</title>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M6M9N6VK');</script>
	<!-- End Google Tag Manager -->
	<script type="application/ld+json">
	  {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "Bellum Æternum",
				"item": "https://ra2be.com"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Blogs",
				"item": "https://ra2be.com/blog.html"
			},
			{
				"@type": "ListItem",
				"position": 3,
				"name": "Devlog: Beta v1",
				"item": "https://ra2be.com/blog/beta-v1.html"
			}
		]
	  }
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-LPEL1Y72V6');
	</script>
	<style>
		span{
			font-size: 16px;
			font-weight: bold;
		}
	</style>
	<script src="../src/js/htmx.min.js"></script>
	<script src="../src/js/langsel.min.js"></script>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6M9N6VK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main>
		<div id="devlog" class="blog">
			<h1>Bellum Æternum：β v1.1 Devlog</h1>
			<div class="blog-info">
				<div class="update-time">
					<p>Last Update: <time datetime="2025-05-02 18:00">2025/05/02</time></p>
				</div>
			</div>			
			<div class="blog-main">
				<div class="blog-left">
					<div class="chap-nav">
						<p>Navigation</p>
						<div class="chaps">
						</div>
					</div>
				</div>
				<div class="blog-content">
					<p>Players had given tons of feedbacks since beta v1 of Bellum Æternum releases, and now the beta v1.1 is releasing in order to fix those problems. Besides that, there are more content updated in Bellum Æternum Beta v1.1.</p>
					<p>All changes will be presented in this devlog, and you can download the newest version in the <a href="../download.html">Official Download</a> page.</p>
					<h2 id="whats-new">What's New?</h2>
					<h3>New Units</h3>
					<p>Added new vehicle, Centurion Tank, mission only.</p>
					<p>Added new vehicle, Soviet Armoured Transport, mission only.</p>
					<p>Added new vehicle, Black Prince AVRE, mission only.</p>
					<p>Added new aircraft, Ilyushin Bomber, mission only.</p>
					<h3>New Buildings</h3>
					<p>Added some new civilian European style country house.</p>
					<h3>New Map</h3>
					<p>New map: Corniche (2-2)</p>
					<figure>
						<img src="../src/corniche.avif" alt="Corniche" width="600px" height="473px">
						<figcaption>Corniche</figcaption>
					</figure>
					<h2 id="enhancements">Enhancements</h2>
					<h3>Unit Change</h3>
					<p>Commando now has new mechanic for C4 bomb. One commando can carry 3 C4s,  C4 bombs won't explode at once, but takes couple of seconds. Once all C4 used up, commando will need to waiting for 30 seconds to "reload".</p>
					<figure>
						<img src="../src/commando-mechanic.avif" alt="Commando Mechanic" width="294px" height="235px">
						<figcaption>Commando new mechanic</figcaption>
					</figure>
					<h3>Voiceover</h3>
					<p>Changed voiceover of the Tesla Assaulter.</p>
					<h3>Graphic</h3>
					<p>Added snow theatre for some civilian buildings.</p>
					<p>Remade model for the civilian hospital.</p>
					<figure>
						<img src="../src/civilian_hospital.avif" alt="Civilian Hospital" width="600px" height="286px">
						<figcaption>new model of civilian hospital</figcaption>
					</figure>					
					<p>Changed color for Kirov Airship, now it won't be over-exposed.</p>
					<p>Remade loading screens for both skirmish and campaign missions.</p>
					<h3>Maps</h3>
					<p>Optimised prologue of campaign missions.</p>
					<p>Optimised these skirmish maps: </p>
					<ul>
						<li>Verdant Hills</li>
						<li>Leavenworth</li>
					</ul>
					<h2 id="rebalance">Rebalance</h2>
					<p>Katyusha Rocket Artillery has increased damage dealt to infantries and vehicles, and increased its area of effect.</p>
					<p>Patton Tank (mission only) has increased penetration rate.</p>
					<p>Flak Track has changed its main armament from 23mm AA gun to 14.5 KPVT machinegun, decreased damage to heavy armoured vehicles.</p>
					<h2 id="bug-fixes">Bug Fixes</h2>
					<h3>Steam Version Supported</h3>
					<p>Fixed the bug when this mod is installed on Steam version of Yuri's Revenge, it cannot enter the game.</p>
					<h3>Power Plant Explosion Adjust</h3>
					<p>The explosion range caused by a destroyed power plant has been proven to be too big, so now it has changed to a smaller area of effect.</p>
					<h3>Miscellaneous</h3>
					<ul>Fixed Soviet Weapon Factory from incorrect strength.</ul>
					<ul>Fixed Soviet Radar from incorrect armour.</ul>
				</div>
				<div class="blog-right">
					<div class="blog-cta">
						<p>Play Bellum Æternum Now!</p>
						<!--<img src="../src/eva.avif" width="320px" height="426px">-->
						<a href="https://www.moddb.com/mods/bellum-aeternum/downloads/bellum-aeternum-beta-test-v1-2" title="Download Bellum Aeternum Beta Test V1.2 - ModDB" target="_blank">DOWNLOAD</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>Bellum<br>Æternum</p>
				</div>
				<div class="lang-selector">
					<p>LANGUAGE</p>
					<div class="lang-list">
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const blogContent = document.querySelector('.blog-content');
			const h2Tags = blogContent.querySelectorAll('h2');
			const chapsDiv = document.querySelector('.chaps');
			
			h2Tags.forEach(h2 => {
				const id = h2.id;
				const text = h2.textContent;
				const anchor = document.createElement('a');
				anchor.href = `#${id}`;
				anchor.textContent = text;
				chapsDiv.appendChild(anchor);
			});
		});
	</script>
</body>