<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="description" content="">
	<link rel="icon" type="image/svg" href="../src/favicon.svg">
	<title> | YRMOD: Bellum Æternum</title>
	<script type="application/ld+json">
	  {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "Bellum Æternum",
				"item": "https://ra2be.com"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "Blogs",
				"item": "https://ra2be.com/blog.html"
			},
			{
				"@type": "ListItem",
				"position": 3,
				"name": "Mod Concept",
				"item": "https://ra2be.com/blog/.html"
			}
		]
	  }
	</script>
	<script src="../src/js/htmx.min.js"></script>
	<script src="../src/js/langsel.min.js"></script>
	<style>
		span{
			font-size: 16px;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main>
		<div class="blog">
			<h1>Title</h1>
			<div class="blog-info">
				<div class="update-time">
					<p>Last Update: <time datetime="2025-02-22 18:00">02/22/2025</time></p>
				</div>
			</div>			
			<div class="blog-main">
				<div class="blog-left">
					<div class="blog-info"></div>
					<div class="chap-nav">
						<p>Navigation</p>
						<div class="chaps">
						</div>
					</div>
				</div>
				<div class="blog-content">
					
				</div>
				<div class="blog-right">
					<div class="blog-cta">
						<p>Play Bellum Æternum Now!</p>
						<!--<img src="../src/eva.avif" width="320px" height="426px">-->
						<a href="https://www.moddb.com/mods/bellum-aeternum/downloads/bellum-aeternum-beta-test-v1-2" title="Download Bellum Aeternum Beta Test V1.2 - ModDB" target="_blank">DOWNLOAD</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>Bellum<br>Æternum</p>
				</div>
				<div class="lang-selector">
					<p>LANGUAGE</p>
					<div class="lang-list">
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const blogContent = document.querySelector('.blog-content');
			const h2Tags = blogContent.querySelectorAll('h2');
			const chapsDiv = document.querySelector('.chaps');
			
			h2Tags.forEach(h2 => {
				const id = h2.id;
				const text = h2.textContent;
				const anchor = document.createElement('a');
				anchor.href = `#${id}`;
				anchor.textContent = text;
				chapsDiv.appendChild(anchor);
			});
		});
	</script>
</body>