<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../style.css">
	<meta name="description" content="红色警戒2：尤里的复仇Mod万世之战Beta v1更新日志。">
	<link rel="icon" type="image/svg" href="../../src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/blog/beta-v1-1.html" />
	<link rel="alternate" hreflang="en" href="https://ra2be.com/blog/beta-v1-1.html" />
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/blog/beta-v1-1.html" />
	<title>万世之战β v1.1更新日志 | 万世之战：为红警2带来前所未有的体验</title>
	<script src="../../src/js/htmx.min.js"></script>
	<script src="../../src/js/langsel.min.js"></script>
	<script type="application/ld+json">
	  {
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "万世之战",
				"item": "https://ra2be.com/zh/"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "博客",
				"item": "https://ra2be.com/zh/blog.html"
			},
			{
				"@type": "ListItem",
				"position": 3,
				"name": "万世之战β v1.1更新日志",
				"item": "https://ra2be.com/zh/blog/beta-v1-1.html"
			}
		]
	  }
	</script>
	<style>
		span{
			font-size: 16px;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<header>
		<div class="navigation-buttons">
			<div class="navigation-button">
				<a href="https://ra2be.com/zh">主页</a>
			</div>
			<div class="navigation-button">
				<a href="../archives.html">档案库</a>
			</div>
			<div class="navigation-button">
				<a href="../blog.html">博客</a>
			</div>
			<div class="navigation-button">
				<a href="../download.html">下载</a>
			</div>
		</div>
		<div class="responsive-navigation">
			<a href="https://ra2be.com/zh"><img src="../../src/favicon.svg" alt="logo" width="36px" height="36px"></a>
			<div class="responsive-navigation-buttons">
				<a href="../archives.html">档案库</a>
				<a href="../blog.html">博客</a>
				<a href="../download.html">下载</a>
			</div>
		</div>
	</header>
	<!--Main-->
	<main>
		<div id="devlog" class="blog">
			<h1>万世之战：β v1.1更新日志</h1>
			<div class="blog-info">
				<div class="update-time">
					<p>最后更新时间：<time datetime="2025-02-22 18:00">2025/05/2</time></p>
				</div>
			</div>			
			<div class="blog-main">
				<div class="blog-left">
					<div class="chap-nav">
						<p>快速导航</p>
						<div class="chaps">
						</div>
					</div>
				</div>
				<div class="blog-content">
					<p>自公测开始以来，玩家反馈了大量的问题，因此《万世之战》公测版v1.1将会修复这些问题。除了修复问题，《万世之战》的内容也在按部就班地更新中。</p>
					<p>本文将重点阐述新版本的特性，玩家可以通过本站<a href="../download.html">下载页面</a>快速下载并游玩。</p>
					<h2 id="whats-new">新增内容</h2>
					<h3>新增单位</h3>
					<p>新增百夫长坦克，任务限定。</p>
					<p>新增苏联两栖运输艇，任务限定。</p>
					<p>新增黑太子AVRE，任务限定。</p>
					<p>新增伊尔轰炸机，任务限定。</p>
					<h3>新增建筑</h3>
					<p>新增数个欧式中立建筑。</p>
					<h3>新增地图</h3>
					<p>新增地图：滨海大道（2-2）</p>
					<figure>
						<img src="../../src/corniche.avif" alt="Corniche" width="600px" height="473px">
						<figcaption>滨海大道</figcaption>
					</figure>
					<h2 id="enhancements">改动的内容</h2>
					<h3>单位改动</h3>
					<p>特种兵的C4炸弹重制，现在C4采用定时引爆机制，一个特种兵一次只能安装三枚C4炸弹，在此之后，需要等待30秒补充C4。</p>
					<figure>
						<img src="../../src/commando-mechanic.avif" alt="Commando Mechanic" width="294px" height="235px">
						<figcaption>特种兵新机制</figcaption>
					</figure>
					<h3>配音</h3>
					<p>磁暴突击炮改变了配音。</p>
					<h3>图像</h3>
					<p>部分中立建筑增加了雪地版本。</p>
					<p>重制了市民医院的模型。</p>
					<figure>
						<img src="../../src/civilian_hospital.avif" alt="Civilian Hospital" width="600px" height="286px">
						<figcaption>市民医院新模型</figcaption>
					</figure>					
					<p>基洛夫空艇改变颜色，现在已经不会过曝。</p>
					<p>遭遇战载入界面优化，现在不会挡住玩家名字。</p>
					<h3>地图</h3>
					<p>序章任务地图优化。</p>
					<p>以下遭遇战地图得到优化：</p>
					<ul>
						<li>苍翠丘陵</li>
						<li>利文沃斯</li>
					</ul>
					<h2 id="rebalance">平衡性调整</h2>
					<p>增强了喀秋莎火箭炮对步兵和载具的伤害，同时增大了爆炸范围。</p>
					<p>巴顿坦克（任务限定）的击穿率小幅度提升。</p>
					<p>防空履带车的主武器由23mm防空炮改为了14.5mm防空机枪，对重型载具的伤害削弱。</p>
					<h2 id="bug-fixes">Bug修复</h2>
					<h3>客户端支持Steam版《尤里的复仇》</h3>
					<p>Steam版《尤里的复仇》因为使用了新的主程序导致无法进入游戏，现在Steam版可以正常进入游戏。</p>
					<h3>发电厂爆炸范围调整</h3>
					<p>盟军发电厂和苏联磁能反应器在被摧毁时会造成爆炸伤害，这个伤害范围被证明过大，并且磁能反应器会使战机直接被击毁。现在发电厂的爆炸范围有一定缩减。</p>
					<h3>其他杂项</h3>
					<ul>修复了苏联武器工厂血量过低的问题。</ul>
					<ul>修复了苏联雷达护甲错误。</ul>
				</div>
				<div class="blog-right">
				</div>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>万世<br>之战</p>
				</div>
				<div class="lang-selector">
					<p>语言</p>
					<div class="lang-list">
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const blogContent = document.querySelector('.blog-content');
			const h2Tags = blogContent.querySelectorAll('h2');
			const chapsDiv = document.querySelector('.chaps');
			
			h2Tags.forEach(h2 => {
				const id = h2.id;
				const text = h2.textContent;
				const anchor = document.createElement('a');
				anchor.href = `#${id}`;
				anchor.textContent = text;
				chapsDiv.appendChild(anchor);
			});
		});
	</script>
</body>