<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../style.css">
	<meta name="description" content="红色警戒2：尤里的复仇原版AI案例分析，提供最全面的原版AI参考。">
	<link rel="icon" type="image/svg" href="../../src/favicon.svg">
	<!--No Follow the template, remove before delivery-->
	<meta name="robots" content="noindex, nofollow">
	<!--HTMX JS-->
	<script src="../../src/js/htmx.min.js"></script>
	<title>红警火车教程 | 万世之战：为红警2带来前所未有的体验</title>
	<style>
		span{
			font-size: 16px;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main>
		<div class="blog">
			<h1></h1>
			<div class="blog-info">
				<div class="update-time">
					<p>最后更新时间：<time datetime="2025-06-11 18:00">2025/06/11</time></p>
				</div>
			</div>			
			<div class="blog-main">
				<div class="blog-left">
					<div class="blog-info"></div>
					<div class="chap-nav">
						<p>快速导航</p>
						<div class="chaps">
						</div>
					</div>
				</div>
				<div class="blog-content">
					<h2>火车逻辑运作的原理</h2>
					<p>火车逻辑实际上并没有什么花样，火车只是拥有特殊运动模式的单位，下面介绍一下实现火车的三个要素：</p>
					<ol>
						<li>对火车单位设置特殊的运动模式。</li>
						<li>为轨道地形赋予对应的运动模式。</li>
						<li>在地图上设置火车。</li>
					</ol>
					<h2>实现火车逻辑的步骤</h2>
					<h3>在地图铺设轨道</h3>
					<p>在地图铺设轨道之前，确保你安装了TX地形包，或者你自制的地形拥有完整的轨道覆盖图文件。</p>
					<p>铺设轨道有三个点需要注意：</p>
					<ol>
						<li>如果不是断头轨道，不要超出地图视界（蓝线框），否则火车会出了地图回不来。</li>
						<li>如果是遭遇战，那么最好用环线轨道，否则火车就不会一直动了。</li>
						<li>火车在上山和下山的效果比较差，所以最好不要使用斜坡。</li>
					</ol>
					<h3>为火车单位写代码</h3>
					<p>火车的代码可以照抄TS的，也可以直接抄任意中立单位的代码，但需要注意关键语句的正确。</p>
					<p>火车的移动方式<code>Locomotor</code>和其他地面载具相同，都使用<code>Drive</code>（即<code>{4A582741-9839-11d1-B709-00A024DDAFD1}</code>），但主要是<code>MovementRestrictedTo</code>需要限定为特殊的<code>LandType</code>，也就是轨道<code>RailRoad</code>。</p>
					<p>同时，火车语句<code>IsTrain</code>也需要设置为<code>true</code>。这条语句的作用包含以下几点：</p>
					<ol>
						<li>让火车在撞到任何物体时都可以用<code>C4Warhead=</code>将其一击必杀。</li>
						<li>让火车的不会原地掉头。</li>
						<li>让火车无法被<code>VehicleThief</code>单位劫持。</li>
						<li></li>
					</ol>
					<h3>在地图上预放置火车</h3>
					<h3>为火车的移动写脚本</h3>
					<h2>已知存在的问题</h2>
					<p>实际上，火车逻辑在红警2中并不好用，其中包含以下几个问题：</p>
					<ol>
						<li>在TX地形中，火车桥梁不可用，除非用火车桥梁替换其他桥梁。</li>
						<li>因为实现原理的限定，通过触发刷出来的火车无法实现跟随。</li>
						<li>火车在离开地图可视范围后无法回到可视范围之内。</li>
						<li>火车偶尔会有覆盖问题。</li>
						<li>如果火车头在隧道外停车，且火车其他车厢还在隧道内，那么隧道内的车厢将不会跟随火车头继续移动。</li>
					</ol>
				</div>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>万世<br>之战</p>
				</div>
				<div class="lang-selector">
					<p>语言</p>
					<div class="lang-list">
						<a href="">EN</a>
						<a href="">中</a>
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const blogContent = document.querySelector('.blog-content');
			const h2Tags = blogContent.querySelectorAll('h2');
			const chapsDiv = document.querySelector('.chaps');
			
			h2Tags.forEach(h2 => {
				const id = h2.id;
				const text = h2.textContent;
				const anchor = document.createElement('a');
				anchor.href = `#${id}`;
				anchor.textContent = text;
				chapsDiv.appendChild(anchor);
			});
		});
	</script>
</body>