<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="description" content="命令与征服：红警2尤里的复仇Mod-万世之战的档案库，包含阵营科技树，单位详情和地图。">
	<link rel="icon" type="image/svg" href="../src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/archives.html" hreflang="x-default" />
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/archives.html" hreflang="zh-Hans" />
	<title>档案库 | 万世之战：为红警2带来前所未有的体验</title>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "万世之战",
				"item": "https://ra2be.com/zh/"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "档案库",
				"item": "https://ra2be.com/zh/archives.html"
			}
		]
	}
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-LPEL1Y72V6');
	</script>
	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="navigation-buttons">
			<div class="navigation-button">
				<a href="https://ra2be.com/zh/">主页</a>
			</div>
			<div class="navigation-button">
				<a href="archives.html">档案库</a>
			</div>
			<div class="navigation-button">
				<a href="blog.html">博客</a>
			</div>
			<div class="navigation-button">
				<a href="download.html">下载</a>
			</div>
		</div>
		<div class="responsive-navigation">
			<a href="https://ra2be.com/zh/"><img src="../src/favicon.svg" alt="logo" width="36px" height="36px"></a>
			<div class="responsive-navigation-buttons">
				<a href="archives.html">档案库</a>
				<a href="blog.html">博客</a>
				<a href="download.html">下载</a>
			</div>
		</div>
	</header>
	<!--Main-->
	<main>
		<div class="archives">
			<h1>万世之战档案库</h1>
			<!--------------------------------------->
			<!------------Factions Module------------>
			<!--------------------------------------->
			<div class="factions">
				<h2>阵营</h2>
				<p>冲突从未停止，反而愈演愈烈</p>
				<div class="factions-impression">
					<div class="factions-container">
						<a href="soviet.html">
							<img src="../src/soviet-impression.webp" alt="Soviet" width="512px" height="512px">
							<div class="factions-description">
		            <h3>苏联</h3>
		          </div>
						</a>
					</div>
					<div class="factions-container">
						<a href="allied.html">
							<img src="../src/allied-impression.webp" alt="Allied" width="512px" height="512px">
							<div class="factions-description">
		            <h3>盟军</h3>
		          </div>
		        </a>
		      </div>
				</div>
			</div>
			<!---------------------------------------->
			<!------------Mechanics Module------------>
			<!---------------------------------------->	
			<div class="mechanics">
				<h2>新机制</h2>
				<p>万世之战中的全新机制</p>
				<div class="mechanics-container">
					<a href="secret-units.html">★★★ 隐藏单位 ★★★</a>
				</div>
			</div>	
			<!----------------------------------->
			<!------------Maps Module------------>
			<!----------------------------------->
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>万世<br>之战</p>
				</div>
				<div class="lang-selector">
					<p>语言切换</p>
					<div class="lang-list">
						<a href="https://ra2be.com/archives.html">EN</a>
						<a href="https://ra2be.com/zh/archives.html">中</a>
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>
</html>