<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="description" content="尤里的复仇Mod——万世之战的开发者博客，包含了Mod教程和Mod的细节和详情。">
	<link rel="icon" type="image/svg" href="../src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/blog.html" />
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/blog.html" />
	<title>博客 | 万世之战：为红警2带来前所未有的体验</title>
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
			{
				"@type": "ListItem",
				"position": 1,
				"name": "万世之战",
				"item": "https://ra2be.com/zh/"
			},
			{
				"@type": "ListItem",
				"position": 2,
				"name": "博客",
				"item": "https://ra2be.com/zh/blog.html"
			}
		]
	}
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-LPEL1Y72V6');
	</script>
	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="navigation-buttons">
			<div class="navigation-button">
				<a href="https://ra2be.com/zh/">主页</a>
			</div>
			<div class="navigation-button">
				<a href="archives.html">档案库</a>
			</div>
			<div class="navigation-button">
				<a href="blog.html">博客</a>
			</div>
			<div class="navigation-button">
				<a href="download.html">下载</a>
			</div>
		</div>
		<div class="responsive-navigation">
			<a href="https://ra2be.com/zh"><img src="../src/favicon.svg" alt="logo" width="36px" height="36px"></a>
			<div class="responsive-navigation-buttons">
				<a href="archives.html">档案库</a>
				<a href="blog.html">博客</a>
				<a href="download.html">下载</a>
			</div>
		</div>
	</header>
	<!--Main-->
	<main>
		<div class="blog-list">
			<h1>万世之战博客</h1>
			<p>红警2尤里的复仇Mod相关：新闻、教程、实践、概念、Mod小工具</p>
			<h2>新闻</h2>
			<div class="blog-section">
				<a class="blog-container "href="blog/beta-v1-1.html">
					<img src="../src/thumbnails/devlog-beta-v1-1-ch.webp" alt="万世之战Beta v1.1更新日志" width="360px" height="270px">
					<h3>Beta v1.1更新日志</h3>
					<div class="dots">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</a>
				<a class="blog-container "href="blog/beta-v1.html">
					<img src="../src/thumbnails/devlog-beta-v1-ch.webp" alt="万世之战Beta v1更新日志" width="360px" height="270px">
					<h3>Beta v1更新日志</h3>
					<div class="dots">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</a>
				<a class="blog-container "href="blog/alpha-3.html">
					<img src="../src/thumbnails/alpha-3.webp" alt="万世之战Alpha v0.3更新日志" width="360px" height="270px">
					<h3>Alpha v0.3更新日志</h3>
					<div class="dots">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</a>
				<a class="blog-container "href="blog/before-alpha.html">
					<img src="../src/thumbnails/devlog-before-alpha-ch.webp" alt="万世之战内侧前夕" width="360px" height="270px">
					<h3>开发日志：内测前夕</h3>
					<div class="dots">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</a>
			</div>
			<h2>概念</h2>
			<div class="blog-section">
				<a class="blog-container "href="blog/mod-concept.html">
					<img src="../src/thumbnails/concept-ch.webp" alt="万世之战概念与理念" width="360px" height="270px">
					<h3>万世之战：概念与理念</h3>
					<div class="dots">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</a>
			</div>
			<h2>教程</h2>
			<div class="blog-section">
				<a class="blog-container "href="blog/ai-tutorial.html">
					<img src="../src/thumbnails/ai-tutorial.webp" alt="尤里的复仇AI教程" width="360px" height="270px">
					<h3>尤里的复仇：AI教程</h3>
					<div class="dots">
						<span class="dot"> </span>
						<span class="dot"> </span>
						<span class="dot"> </span>
					</div>
				</a>
			</div>
			<h2>Mod小工具</h2>
			<div class="blog-section">
				<a class="blog-container "href="gadget/foids.html">
					<img src="../src/thumbnails/foids-thumbnail-ch.webp" alt="建筑破损帧燃烧坐标生成器" width="360px" height="270px">
					<h3>破损帧燃烧坐标生成器</h3>
					<div class="dots">
						<span class="dot"> </span>
						<span class="dot"> </span>
						<span class="dot"> </span>
					</div>
				</a>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>万世<br>之战</p>
				</div>
				<div class="lang-selector">
					<p>语言</p>
					<div class="lang-list">
						<a href="blog.html">EN</a>
						<a href="/zh/blog.html">中</a>
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>
</html>