<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../org-style.css">
	<link rel="preload" href="../src/font/furore.otf" as="font" />
	<link rel="preload" href="../src/font/MonaspaceNeon-Regular.otf" as="font" />
	<link rel="preload" href="../src/background-pattern.webp" as="image">
	<meta name="description" content="万世之战是一部红色警戒2：尤里的复仇的非官方mod，极大程度地提升了画质和细节，并拥有全新的机制和战斗理念，将游戏乐趣最大化。">
	<link rel="icon" type="image/x-icon" href="../src/favicon.svg">
	<link rel="canonical" href="https://ra2be.com/zh/" />
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com"/>
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/" />
	<meta name="google-site-verification" content="muAet5NwsQ7sxLzUH0sJReh1RIc5OY_y2FmFZ9OiTIg" />
	<meta http-equiv="ontent-security-policy" content="script-src https:; object-src 'none'; base-uri 'none'; require-trusted-types-for 'script';"/>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-LPEL1Y72V6');
	</script>
	<script src="../src/js/htmx.min.js"></script>
	<title>万世之战 | 为红警2带来前所未有的体验</title>
</head>

<body>
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main>
		<div class="overview">
			<h1>万世之战</h1>
			<h2>更具真实感的红色警戒</h2>
			<p>《万世之战》是<i><b>命令与征服：红色警戒2尤里的复仇</b></i>的一部非官方Mod。</p>
			<p>沿袭红警2的部分设定，并填充了丰富的内容与细节。时间线在20世纪50到60年代之间，用红警2的方式叙述那段充满危机的岁月。</p>
			<div class="cta-btn">
				<a id="zh-main-download" href="download.html" target="_blank">下载</a>
			</div>
		</div>
		<div class="features">
			<h2>万世之战的特色</h2>
			<div class="features-section">
				<!--Feature 1-->
				<div class="features-container">
					<div class="features-image">
						<img src="../src/enhanced-effects.webp" alt="Red Alert 2 enhanced effects" width="320px" height="320px" loading="eager" fetchpriority="high">
					</div>
					<h3>增强特效</h3>
				</div>
				<!--Feature 2-->
				<div class="features-container">
					<div class="features-image">
						<img src="../src/realistic-unit-design.webp" alt="Red Alert 2 unit design" width="320px" height="320px" loading="eager" fetchpriority="high">
					</div>
					<h3>写实设计</h3>
				</div>
				<!--Feature 3-->
				<div class="features-container">
					<div class="features-image">
						<img src="../src/proper-dimension.webp" alt="Red Alert 2 proper dimension" width="320px" height="320px" loading="eager" fetchpriority="high">
					</div>
					<h3>合理比例</h3>
				</div>
				<!--Feature 4-->
				<div class="features-container">
					<div class="features-image">
						<img src="../src/enriched-details.avif" alt="Red Alert 2 enriched details" width="320px" height="320px" loading="eager" fetchpriority="high">
					</div>
					<h3>海量细节</h3>
				</div>
				<!--Feature 5-->
				<div class="features-container">
					<div class="features-image">
						<img src="../src/stay-classic.webp" alt="Red Alert 2 revolutionary control" width="320px" height="320px" loading="eager" fetchpriority="high">
					</div>
					<h3>原汁原味</h3>
				</div>
				<!--Feature 6-->
				<div class="features-container">
					<div class="features-image">
						<img src="../src/epic-storyline.webp" alt="Red Alert 2 epic story" width="320px" height="320px" loading="eager" fetchpriority="high">
					</div>
					<h3>史诗剧情</h3>
				</div>
			</div>
		</div>
		<div class="quick-nav">
			<h2>快速导航</h2>
			<div class="quick-nav-section">
				<div class="main-nav">
					<h3>剧情和设定</h3>
					<a href="lore.html">背景故事</a>
				</div>
				<div class="main-nav">
					<h3>游戏玩法</h3>
					<!--<a href="game-modes.html">作战模式</a>-->
				</div>
				<div class="main-nav">
					<h3>游戏机制</h3>
					<a href="secret-units.html">窃取科技</a>
					<!--<a href="crates.html">补给箱</a>-->
					<!--<a href="secret-lab.html">实验室科技</a>-->
				</div>
				<div class="main-nav">
					<h3>资料库</h3>
					<a href="allied.html">盟军单位</a>
					<a href="soviet.html">苏联单位</a>
					<a href="skirmish-maps.html">地图</a>
					<!--<a href="campaign.html">战役任务</a>-->
				</div>
			</div>
		</div>
		<div class="news">
			<div class="news-section">
				<h2>新闻</h2>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2025-06-15 03:00">6月15日</time>
					</div>
					<div class="news-container-right">
						<a href="blog/beta-v1-2.html">万世之战Beta v1.2更新日志</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2025-05-02 20:00">5月2日</time>
					</div>
					<div class="news-container-right">
						<a href="blog/beta-v1-1.html">万世之战Beta v1.1更新日志</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2025-02-22 20:00">2月22日</time>
					</div>
					<div class="news-container-right">
						<a href="blog/beta-v1.html">万世之战Beta v1更新日志</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2024-11-08 20:00">11月8日</time>
					</div>
					<div class="news-container-right">
						<a href="blog/alpha-3.html">万世之战Alpha v0.3更新日志</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2024-09-12 20:00">9月12日</time>
					</div>
					<div class="news-container-right">
						<a href="blog/mod-concept.html">万世之战：概念和理念</a>
					</div>
				</div>
				<div class="news-container">
					<div class="news-container-left">
						<time datetime="2024-09-02 20:00">9月2日</time>
					</div>
					<div class="news-container-right">
						<a href="blog/before-alpha.html">开发者日志：内测前夕</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--Footer-->
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>万世<br>之战</p>
				</div>
				<div class="lang-selector">
					<p>语言</p>
					<div class="lang-list">
						<a href="https://ra2be.com">EN</a>
						<a href="https://ra2be.com/zh/">中</a>
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>
</html>