<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta name="description" content="《万世之战》的背景剧情，真实历史和红警2的有机结合，为你的游戏创造更加沉浸感的体验。">
	<link rel="icon" type="image/svg" href="../../src/favicon.svg">
	<meta name="robots" content="noindex, nofollow">
	<title>背景剧情 | 万世之战：为红警2带来前所未有的体验</title>
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "BreadcrumbList",
		  "itemListElement": [
			  {
				  "@type": "ListItem",
				  "position": 1,
				  "name": "万世之战",
				  "item": "https://ra2be.com/zh/"
			  },
			  {
				  "@type": "ListItem",
				  "position": 2,
				  "name": "博客",
				  "item": "https://ra2be.com/zh/blog.html"
			  },
			  {
				  "@type": "ListItem",
				  "position": 3,
				  "name": "背景剧情",
				  "item": "https://ra2be.com/zh/lore.html"
			  }
		  ]
		}
	</script>
	<script src="../src/js/htmx.min.js"></script>
	<style>
		span{
			font-size: 16px;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<!-- HTMX header -->
	<header hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></header>
	<!--Main-->
	<main>
		<div class="blog">
			<h1>《万世之战》的背景剧情是什么？</h1>
			<div class="blog-main">
				</div>
				<div class="blog-content">
					<p>和红警2的剧情不同，《万世之战》的故事线和真实历史高度重合，并且不会有任何红警2的剧情设定被带入《万世之战》。《万世之战》的背景剧情不仅仅是推动了战役任务的进程，还影响着玩家可使用的武器装备。可以说，如果你是冷战军事和历史的爱好者，《万世之战》将会是一个为你量身打造的红警Mod。</p>
					<h2 id="world-war-2">第二次世界大战</h2>
					<p>在第二次世界大战中，战争推进了轴心国与同盟国双方的科技实力，各方的科学研究都爆发出了惊人的成就。</p>
					<p>然而，惨烈的战争和各种人道主义灾难也让这场战争成为了全世界人类的伤疤。</p>
					<p>随着1945年日本投降，第二次世界大战宣告结束。而此时，美国和苏联之间的冷战格局已经悄然形成。</p>
					<blockquote>
						<p>一道横跨欧陆的铁幕从波罗的海的什切青到亚得里亚海的里雅斯特已经降下。</p>	
						<cite>——温斯顿·丘吉尔</cite>
					</blockquote>
					<h2 id="korean-war">朝鲜战争</h2>
					<p>冷战格局下的第一次热战爆发于朝鲜。美国纠集了17国组成了联合国军（United Nation Command，简称UNC），发动了朝鲜战争。在此情况下，苏联一面加强备战，一面鼓动中国参战。</p>
					<p>1950年，中国派出中国人民志愿军入朝作战。在经历了五次主要战役后，UNC被推到了38度线以南。</p>
					<p>战争一直持续到1953年，战场还是处于僵持状态，UNC依然无法战胜军事实力远不如自己的中国人民志愿军。</p>
					<p>然而，美国最初设想的战略布局是：建立一条横跨安克雷奇（阿拉斯加）到堪培拉（新南威尔士）的封锁线，以封锁住苏联所有的温水港，然而朝鲜战场的局势让美国并不能阻挡苏联海军在黄海部署。因此，美国急切希望彻底将朝鲜半岛吞并，并在这里大规模建设军事要塞，以从远东制衡苏联。</p>
					<h2 id="allied-formed">盟军成立</h2>
					<p>在这个节点上，华盛顿内部开了一场秘密会议。该会议最终决定，将围绕北美、欧洲和澳洲建立一个新的军事组织，代号：盟军（Allied）。</p>
					<p>与UNC不同，盟军的本质是由美国完全主导的军事组织。盟军的成立解决了UNC内部一些及其繁琐的问题：</p>
					<ol>
						<li>军队构成：盟军是由西欧、北美、澳洲列国抽调的精英部队组成，其指挥系统得到了整合，一切命令将由位于布鲁塞尔的总部发出。</li>
						<li>军事装备：盟军的所有装备得到了统一，均由美国提供。全体盟军开始陆续更换新装备，比如M54A2灰熊坦克。</li>
						<li>全新科技：因为新指挥系统的构建，盟军开始采用一种名为SCP（Standardised Construction Protocol，即标准化建设协议）的新科技，这种新科技落地后的成果便是MCV（Mobile Construction Vehicle，即机动基地车）。</li>
					</ol>
					<p>盟军的成立很大程度上让松散的UNC获得新生，并于1954年拒绝了苏联提出的和谈要求，开始重返朝鲜战场。在此之后，朝鲜战局迅速倒向盟军，苏联和中国的边境线受到盟军威胁。</p>
					<h2 id="europe-vacuum">欧洲兵力真空</h2>
					<p>因盟军的成立，欧洲大批精锐部队和装备开始向朝鲜半岛转移。此时驻守欧陆的部队，虽然同样被整编进了盟军体系，但还处于一个相当滞后的阶段：</p>
					<ol>
						<li>指挥系统：因为由西欧各国的二等或三等部队组成，并且由于法国当局的极度不配合，其指挥系统尚未做到完全统一。</li>
						<li>军事装备：因美国的战略重心转向东亚，导致欧陆的盟军只能使用一些老旧的装备，比如巴顿坦克以及谢尔曼坦克，而机动基地车也只在英国伦敦有少部分列装。</li>
						<li>前线补给：由于二战的影响，西欧各国的工业实力还处于恢复阶段，因此驻欧陆盟军的补给并不充裕。</li>
						<li>政治动荡：盟军的成立统一了军事装备，但因为所有武器均为美国制造，让西欧各国的政府相当不满。</li>
					</ol>
					<p>此刻的苏联因为没有直接参与朝鲜战争，并通过部署在欧洲的克格勃了解到了盟军的兵力真空，于是做出了新的计划。</p>
					<h2 id="berlin-riot">柏林暴动</h2>
					<p>1956年的一天，西柏林的某家酒馆发生了暴动，这场暴动的规模空前，很快便在西柏林造成了混乱。当晚，东柏林的苏联军队开始以镇暴的名义介入，并封锁了整个西柏林。意识到事态严重的盟军高层与苏联代表在西柏林进行了一场谈判，盟军方面希望苏联军队撤出西柏林，而苏联方面则表示，如果盟军退出朝鲜，则会撤出西柏林。谈判很快就不欢而散，而当盟军代表离开西柏林的那一刻，苏联军队就开始按照作战计划行动了。</p>
					<h2 id="soviet-plan">新的计划</h2>
					<p>1953年，随着约瑟夫·斯大林的逝世，苏联高层内部也开始了一系列政治斗争，而最终的结果，则是有着苏联军队支持的尼基塔·赫鲁晓夫取得了最高领导人的地位。然而，赫鲁晓夫深知自己还有大量的政治对手，因此为了在社会主义阵营建立强大的威信，需要在对外事务上有所作为。于是，赫鲁晓夫制定了一个大胆的计划：</p>
					<ol>
						<li>执行军事改革，装甲师全部换装T-56犀牛主战坦克，并大力推进导弹和磁暴武器的研究。</li>
						<li>整合情报网，成立克格勃，加强对盟军内部动向的监视。</li>
						<li>外交上拉拢中国，为中国提供军事援助，同时提供上百个重型工业项目，以在朝鲜继续抗衡盟军。</li>
						<li>加大在朝鲜战争的介入力度，扩建米格走廊并提供更多的物资。</li>
						<li>执行真理行动（Операция «Правда»）。</li>
					</ol>
					<p>这些计划于1954年正式执行，它们的最终目的则是铺垫其中最重要的真理行动。真理行动是一场规模空前的军事行动，其分为四个阶段：</p>
					<ol>
						<li>在现有装甲师的基础上扩建二十个，并部署到东德、捷克斯洛伐克和匈牙利。</li>
						<li>控制东柏林，引诱盟军高层聚集到布鲁塞尔。</li>
						<li>进攻西德，并利用德国发达的高速路网，闪击比利时，并将聚集在比利时的盟军高层一网打尽。</li>
						<li>南下进入法国，与法共里应外合，逼迫法国投降。</li>
					</ol>
					<p>赫鲁晓夫认为，只有这样，才能让英美所代表的盟军放弃从东部封锁整个亚欧大陆的计划，转而将战略中心转移到欧洲，并最终在欧陆消耗殆尽。而苏联军方的战略构想则是，占领整个地中海周边区域，从欧洲和亚洲对美洲进行合围。</p>
					<h2 id="öperation-pravda">真理行动</h2>
					<p>1956年，苏联出动了所有的装甲力量，数千辆犀牛坦克于一夜之间便入侵了西德的主要城市，大部分盟军在深夜被缴了械，等到天亮，苏军的装甲师已经推进到了比利时边境。此时盟军高层刚在盟军总部的房间内开了一夜的紧急会议，听闻苏军的进攻，只得用剩余军力做出临时的部署。然而，苏军的犀牛坦克在比利时境内遭遇到的几乎都是过时的巴顿坦克或者更古老的谢尔曼坦克，这些坦克甚至无法有效击穿犀牛坦克的正面装甲。很快，苏军便推进到了布鲁塞尔。</p>
					<p>因为欧洲的兵力真空，盟军在布鲁塞尔的防御部队并不多，并且还需要在苏联军队到达之前护送盟军的高层离开。就这样，盟军最终只有一个装甲连驻守布鲁塞尔。在此情况下，盟军将高速公路的桥梁炸毁，并将坦克尽数散布在城市各处，准备与苏联军队打巷战。而此时的克格勃早已知道布鲁塞尔的布防并通报了苏军，于是苏联指挥部决定只派遣一个装甲连突入布鲁塞尔，并配合空降兵和炮兵连一举拿下布鲁塞尔总部，大部队则南下攻打法国。次日，巴黎被苏军占领。</p>
					<p>对于驻守欧洲的盟军来说，他们的战线一直在后退，大批盟军被俘。从布鲁塞尔撤出的盟军与从巴黎撤出的盟军在里尔会师，并准备死守里尔。然而，一条简短的情报成为了压垮骆驼的最后一根稻草——“盟军总部被摧毁，奥地利沦陷，意大利宣布中立，并给苏军让道”。此时的苏军已经从意大利进入了法国南部，盟军在法国的所有防线全部失守。从布鲁塞尔逃出的英国盟军代表在伦敦召开了一场会议，并很快确定在伦敦建立盟军的临时总部。很快，在伦敦临时总部的调度下，上千艘海马运兵艇驶向了法国的敦刻尔克，驻守里尔的盟军也悉数撤退，并一边进行抵抗一边撤退。</p>
					<h2 id="ending">《万世之战》</h2>
					<p>在《万世之战》的战役任务中，玩家将扮演盟军和苏联的指挥官，利用独到的战略眼光和指挥才能，左右这场战争的胜负。</p>
					<p>盟军是否能绝地反击？苏联又是否能将赤旗插遍世界？敬请期待《万世之战》全新战役任务！</p>
					<p>欢迎回来，指挥官。</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="footer-container">
			<div class="footer-left">
				<div class="footer-logo">
					<img src="../src/favicon.svg" alt="Bellum Aeternum" width="64" height="64">
					<p>万世<br>之战</p>
				</div>
				<div class="lang-selector">
					<p>语言</p>
					<div class="lang-list">
						<a href="https://ra2be.com">EN</a>
						<a href="https://ra2be.com/zh/lore.html">中</a>
					</div>
				</div>
			</div>
			<div hx-get="sitemap.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
		<div hx-get="footer-portal.html" hx-trigger="load" hx-swap="outerHTML"></div>
	</footer>
</body>