<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="preload" href="../src/font/furore.otf" as="font" />
	<link rel="preload" href="../src/font/MonaspaceNeon-Regular.otf" as="font" />
	<link rel="preload" href="../src/background-pattern.webp" as="image">
	<meta name="description" content="红色警戒2：尤里的复仇Mod《万世之战》遭遇战地图介绍。">
	<link rel="icon" type="image/x-icon" href="../src/favicon.svg">
	<link rel="alternate" hreflang="x-default" href="https://ra2be.com/skirmish-maps.html"/>
	<link rel="alternate" hreflang="zh-Hans" href="https://ra2be.com/zh/skirmish-maps.html" />
	<meta name="google-site-verification" content="muAet5NwsQ7sxLzUH0sJReh1RIc5OY_y2FmFZ9OiTIg" />
	<meta http-equiv="ontent-security-policy" content="script-src https:; object-src 'none'; base-uri 'none'; require-trusted-types-for 'script';"/>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPEL1Y72V6"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-LPEL1Y72V6');
	</script>
	<title>遭遇战地图 | 万世之战：为红警2带来前所未有的体验</title>
</head>

<body>
	<!-- HTMX header -->
	<div hx-get="header.html" hx-trigger="load" hx-swap="outerHTML"></div>
	<!--Main-->
	<main>
		<div class="overview">
			<h1>遭遇战地图</h1>
            <p><b>万世之战</b>：更具真实感的红色警戒2</p>
		</div>
        <div class="maps-section">
            <div class="map-selector" id="map-selector">
                <button class="map-selector-button selected-button" onclick="mapFilterSelection('all')">所有地图</button>
                <button class="map-selector-button" onclick="mapFilterSelection('1v1')">1V1</button>
                <button class="map-selector-button" onclick="mapFilterSelection('2v2')">2V2</button>
                <button class="map-selector-button" onclick="mapFilterSelection('3v3')">3V3</button>
            </div>
            <div class="map-list">
                <div class="map-type 1v1">
                    <div class="map">
                        <img src="../src/maps/skirmish-verdant-hills.webp">
                        <h3>Verdant Hills</h3>
                        <p>Description</p>
                    </div>
                </div>
                <div class="map-type 2v2">
                    <div class="map">
                        <img src="../src/maps/skirmish-leavenworth.webp">
                        <h3>Leavenworth</h3>
                        <p>Description</p>
                    </div>
                    <div class="map">
                        <img src="../src/maps/skirmish-frost-reach.webp">
                        <h3>Frost Reach</h3>
                        <p>Description</p>
                    </div>
                </div>
                <div class="map-type 3v3">
                    <div class="map">
                        <img src="../src/maps/skirmish-mt-thunderhead.webp">
                        <h3>Mt. Thunderhead</h3>
                        <p>Description</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Map Filter-->
        <script>
            mapFilterSelection("all")
            function mapFilterSelection(c) {
                var x, i;
                x = document.getElementsByClassName("map-type");
                if (c == "all") c = "";
                // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
                for (i = 0; i < x.length; i++) {
                    w3RemoveClass(x[i], "show-maps");
                    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show-maps");
                }
                }

                // Show filtered elements
                function w3AddClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                    }
                }
                }

                // Hide elements that are not selected
                function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                    }
                }
                element.className = arr1.join(" ");
                }

                // Add active class to the current control button (highlight it)
                var btnContainer = document.getElementById("map-selector");
                var btns = btnContainer.getElementsByClassName("map-selector-button");
                for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                    var current = document.getElementsByClassName("selected-button");
                    current[0].className = current[0].className.replace(" selected-button", "");
                    this.className += " selected-button";
                });
            }
        </script>
	</main>
	<!-- HTMX footer -->
	<div hx-get="footer.html" hx-trigger="load" hx-swap="outerHTML"></div>
</body>
</html>